<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.AppUserProjectAuthMapper">
    <resultMap id="ProjectVOMap" type="com.evergrande.qms.vo.ProjectVO">
        <id column="id" jdbcType="VARCHAR" property="id" javaType="java.lang.String"/>
        <result column="project_code" jdbcType="VARCHAR" property="projectCode" javaType="java.lang.String"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName" javaType="java.lang.String"/>
        <result column="building_item_code" jdbcType="VARCHAR" property="buildingItemCode" javaType="java.lang.String"/>
        <result column="building_item_name" jdbcType="VARCHAR" property="buildingItemName" javaType="java.lang.String"/>
        <result column="area_company_code   " jdbcType="VARCHAR" property="areaCompanyCode"
                javaType="java.lang.String"/>
        <result column="area_company_name" jdbcType="VARCHAR" property="areaCompanyName" javaType="java.lang.String"/>
        <result column="factory" jdbcType="VARCHAR" property="factory" javaType="java.lang.String"/>
        <result column="project_company" jdbcType="VARCHAR" property="projectCompany" javaType="java.lang.String"/>
        <result column="province" jdbcType="VARCHAR" property="province" javaType="java.lang.String"/>
        <result column="city" jdbcType="VARCHAR" property="city" javaType="java.lang.String"/>
        <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" javaType="java.lang.String"/>
        <result column="collector" jdbcType="VARCHAR" property="collector" javaType="java.lang.String"/>
        <result column="crud_type" jdbcType="VARCHAR" property="crudType" javaType="java.lang.String"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" javaType="java.util.Date"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" javaType="java.util.Date"/>
    </resultMap>

    <sql id="base_column_list">
        id,group_name,ems_account,userName,project_id,wbs_num,create_date
    </sql>
    <!-- 新增记录 -->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into qms_app_user_project_auth(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.groupName,jdbcType=VARCHAR},
            #{item.emsAccount,jdbcType=VARCHAR},
            #{item.userName,jdbcType=VARCHAR},
            #{item.projectId,jdbcType=VARCHAR},
            #{item.wbsNum,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 删除记录 -->
    <delete id="deleteAll" parameterType="java.lang.String">
        delete from qms_app_user_project_auth
    </delete>

    <!--查询项目权限-->
    <select id="findSampleAddressId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        t1.wbs_num
        FROM qms_app_user_project_auth t1
        WHERE t1.ems_account = #{loginName, jdbcType=VARCHAR}
    </select>

</mapper>


