<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.DictionaryMapper">
    <sql id="base_column_list">
        id,dic_name,dic_value,dic_type,parent_key
    </sql>

    <resultMap id="baseResultMap" type="com.evergrande.qms.model.Dictionary" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="dic_name" property="dicName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="dic_value" property="dicValue" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="dic_type" property="dicType" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="parent_key" property="parentKey" jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <select id="searchByDicName" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_dictionary
        where dic_name = #{dicName,jdbcType=VARCHAR}
    </select>

    <!-- 查询位置 -->
    <select id="findLocation" resultMap="baseResultMap"
            parameterType="com.evergrande.qms.model.Dictionary" >
        select
        <include refid="base_column_list"/>
        from qms_dictionary
        <where>
            <if test="dicType != null and dicType != ''">
                and dic_type = #{dicType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 根据条件查询检测院记录 -->
    <select id="findAllList" resultMap="baseResultMap"
            parameterType="com.evergrande.qms.model.Dictionary" >
        select
        <include refid="base_column_list"/>
        from qms_dictionary
        <where>
            <if test="dicName != null and dicName != ''">
                and dic_name like CONCAT('%',#{dicName,jdbcType=VARCHAR},'%' )
            </if>
            <if test="dicValue != null and dicValue != ''">
                and dic_value like CONCAT('%',#{dicValue,jdbcType=VARCHAR},'%' )
            </if>
            <if test="dicType != null and dicType != ''">
                and dic_type = #{dicType,jdbcType=VARCHAR}
            </if>
            <choose>
                <when test="parentKey != null and parentKey != ''">
                    and parent_key = #{parentKey,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    and parent_key is null
                </otherwise>
            </choose>
        </where>
    </select>

    <!-- 新增字典数据 -->
    <insert id="add" parameterType="com.evergrande.qms.model.Dictionary">
        insert into qms_dictionary(<include refid="base_column_list"/>)
        values(
            #{id,jdbcType=VARCHAR},
            #{dicName,jdbcType=VARCHAR},
            #{dicValue,jdbcType=VARCHAR},
            #{dicType,jdbcType=VARCHAR},
            #{parentKey,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 新增字典数据 -->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into qms_dictionary(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.dicName,jdbcType=VARCHAR},
            #{item.dicValue,jdbcType=VARCHAR},
            #{item.dicType,jdbcType=VARCHAR},
            #{item.parentKey,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!-- 根据字典名称修改字典数据 -->
    <update id="update" parameterType="com.evergrande.qms.model.Dictionary">
        update qms_dictionary
        <set>
            <if test="dicName !=null and dicName != ''">
                dic_name = #{dicName,jdbcType=VARCHAR},
            </if>
            <if test="dicValue !=null and dicValue != ''">
                dic_value = #{dicValue,jdbcType=VARCHAR},
            </if>
            <if test="dicType !=null and dicType != ''">
                dic_type = #{dicType,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id, jdbcType=VARCHAR}
    </update>
</mapper>


