<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.InspectionInstituteMapper">

    <resultMap id="baseResultMap" type="com.evergrande.qms.model.InspectionInstitute" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="institute_code" property="instituteCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="institute_name" property="instituteName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="province" property="province" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="city" property="city" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="detailed_address" property="detailedAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="national_inspect_center" property="nationalInspectCenter" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="receipt" property="receipt" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="recipient" property="recipient" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="recipient_telephone" property="recipientTelephone" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="department_leader" property="departmentLeader" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="position" property="position" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="leader_telephone" property="leaderTelephone" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="institute_telephone" property="instituteTelephone" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="email" property="email" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="status" property="status" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </resultMap>

    <resultMap id="findInspectionInstituteResultMap" type="com.evergrande.qms.vo.InspectionInstituteVO" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="institute_code" property="instituteCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="institute_name" property="instituteName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="province" property="province" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="provinceName" property="provinceName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="city" property="city" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="cityName" property="cityName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="detailed_address" property="detailedAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="national_inspect_center" property="nationalInspectCenter" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="receipt" property="receipt" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="recipient" property="recipient" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="recipient_telephone" property="recipientTelephone" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="department_leader" property="departmentLeader" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="position" property="position" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="leader_telephone" property="leaderTelephone" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="institute_telephone" property="instituteTelephone" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="email" property="email" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="status" property="status" jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <sql id="base_column_list">
        id,institute_code,institute_name,province,city,detailed_address,national_inspect_center,
        receipt,recipient,recipient_telephone,department_leader,position,leader_telephone,
        institute_telephone,email,status,create_user,create_date,update_user,update_date
    </sql>

    <!-- 根据ID查询记录 -->
    <select id="get" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_inspection_institute
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据检测院名称查询记录 -->
    <select id="findByInstituteName" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_inspection_institute
        where institute_name = #{instituteName,jdbcType=VARCHAR}
    </select>

    <!-- 根据检测院名称模糊查询记录 author:wangyu-->
    <select id="findByInstituteNameLike" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_inspection_institute
        <where>
            <!-- 检测院名称 -->
            <if test="instituteName != null and instituteName != ''">
                and institute_name like CONCAT('%',#{instituteName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
    </select>
    <!-- 根据检测院编码查询 author:wangyu-->
    <select id="findByInstituteCode" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_inspection_institute
        where institute_code = #{instituteCode,jdbcType=VARCHAR}
    </select>

    <!-- 根据条件查询检测院记录 -->
    <select id="findAllList" resultMap="findInspectionInstituteResultMap"
            parameterType="com.evergrande.qms.vo.InspectionInstituteVO" >
        SELECT
            i.id,i.institute_code,i.institute_name,i.province,i.city,i.detailed_address,
            i.national_inspect_center,i.receipt,i.recipient,i.recipient_telephone,
            i.department_leader,i.position,i.leader_telephone,i.institute_telephone,i.email,i.status,
            d.dic_value as provinceName, d2.dic_value as cityName
        FROM qms_inspection_institute i
        LEFT JOIN qms_dictionary d on i.province = d.dic_name
        LEFT JOIN qms_dictionary d2 on i.city = d2.dic_name
        <where>
            <!-- 检测院编码 -->
            <if test="instituteCode != null and instituteCode != ''">
                and i.institute_code like CONCAT('%',#{instituteCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 检测院名称 -->
            <if test="instituteName != null and instituteName != ''">
                and i.institute_name like CONCAT('%',#{instituteName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
        ORDER BY i.create_date DESC
    </select>

    <!-- 获取表记录数量 -->
    <select id="getTableSize" resultType="java.lang.Integer" parameterType="com.evergrande.qms.vo.InspectionInstituteVO">
        select count(0) from qms_inspection_institute i
        <where>
            <!-- 检测院编码 -->
            <if test="instituteCode != null and instituteCode != ''">
                and i.institute_code like CONCAT('%',#{instituteCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 检测院名称 -->
            <if test="instituteName != null and instituteName != ''">
                and i.institute_name like CONCAT('%',#{instituteName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
    </select>

    <!-- 新增检测院数据 -->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into qms_inspection_institute(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.instituteCode,jdbcType=VARCHAR},
            #{item.instituteName,jdbcType=VARCHAR},
            #{item.province,jdbcType=VARCHAR},
            #{item.city,jdbcType=VARCHAR},
            #{item.detailedAddress,jdbcType=VARCHAR},
            #{item.nationalInspectCenter,jdbcType=VARCHAR},
            #{item.receipt,jdbcType=VARCHAR},
            #{item.recipient,jdbcType=VARCHAR},
            #{item.recipientTelephone,jdbcType=VARCHAR},
            #{item.departmentLeader,jdbcType=VARCHAR},
            #{item.position,jdbcType=VARCHAR},
            #{item.leaderTelephone,jdbcType=VARCHAR},
            #{item.instituteTelephone,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR},
            #{item.status,jdbcType=VARCHAR},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 修改检测院数据 -->
    <update id="batchUpdate" parameterType="java.util.List">
        update qms_inspection_institute
        <trim prefix="set" suffixOverrides=",">
            <!-- 检测院名称 -->
            <trim prefix="institute_name=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.instituteName !=null and item.instituteName != ''">
                        when id=#{item.id} then #{item.instituteName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 省份 -->
            <trim prefix="province=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.province !=null and item.province != ''">
                        when id=#{item.id} then #{item.province,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 城市 -->
            <trim prefix="city=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.city !=null and item.city != ''">
                        when id=#{item.id} then #{item.city,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 详细地址 -->
            <trim prefix="detailed_address=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.detailedAddress !=null and item.detailedAddress != ''">
                        when id=#{item.id} then #{item.detailedAddress,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 国家级检测中心 -->
            <trim prefix="national_inspect_center=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.nationalInspectCenter !=null and item.nationalInspectCenter != ''">
                        when id=#{item.id} then #{item.nationalInspectCenter,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 对应发票/财政收据 -->
            <trim prefix="receipt=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.receipt !=null and item.receipt != ''">
                        when id=#{item.id} then #{item.receipt,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 接样人 -->
            <trim prefix="recipient=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.recipient !=null and item.recipient != ''">
                        when id=#{item.id} then #{item.recipient,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 接样人电话 -->
            <trim prefix="recipient_telephone=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.recipientTelephone !=null and item.recipientTelephone != ''">
                        when id=#{item.id} then #{item.recipientTelephone,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 部门领导 -->
            <trim prefix="department_leader=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.departmentLeader !=null and item.departmentLeader != ''">
                        when id=#{item.id} then #{item.departmentLeader,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 职位 -->
            <trim prefix="position=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.position !=null and item.position != ''">
                        when id=#{item.id} then #{item.position,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 联系电话 -->
            <trim prefix="leader_telephone=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.leaderTelephone !=null and item.leaderTelephone != ''">
                        when id=#{item.id} then #{item.leaderTelephone,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 单位电话 -->
            <trim prefix="institute_telephone=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.instituteTelephone !=null and item.instituteTelephone != ''">
                        when id=#{item.id} then #{item.instituteTelephone,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 邮箱 -->
            <trim prefix="email=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.email !=null and item.email != ''">
                        when id=#{item.id} then #{item.email,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 状态 -->
            <trim prefix="status=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.status !=null and item.status != ''">
                        when id=#{item.id} then #{item.status,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>

            <trim prefix="update_user=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateUser !=null">
                        when id=#{item.id} then #{item.updateUser,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_date=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateDate !=null">
                        when id=#{item.id} then #{item.updateDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from qms_inspection_institute
        where id = #{id, jdbcType=VARCHAR}
    </delete>

    <!-- 批量删除记录 -->
    <delete id="batchDelete" parameterType="java.util.List">
        delete from qms_inspection_institute
        where id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!-- 查询导出的数据 -->
    <select id="findExportData" resultMap="findInspectionInstituteResultMap" parameterType="java.util.List">
        SELECT
            i.id,i.institute_code,i.institute_name,i.province,i.city,i.detailed_address,
            i.national_inspect_center,i.receipt,i.recipient,i.recipient_telephone,
            i.department_leader,i.position,i.leader_telephone,i.institute_telephone,i.email,i.status,
            d.dic_value provinceName, d2.dic_value cityName
        FROM qms_inspection_institute i
        LEFT JOIN qms_dictionary d on i.province = d.dic_name
        LEFT JOIN qms_dictionary d2 on i.city = d2.dic_name
        where i.id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>

    <!-- 获取表记录数量 -->
    <select id="getExportSize" resultType="java.lang.Integer" parameterType="java.util.List">
        select count(0)
        FROM qms_inspection_institute i
        where i.id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>


