<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.MaterialManageMapper">

    <resultMap id="findMaterialManageResultMap" type="com.evergrande.qms.vo.MaterialManageVO" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_code" property="materialCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_name" property="materialName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_type_code" property="materialTypeCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_type_name" property="materialTypeName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_category" property="materialCategory" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="genre" property="genre" jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <resultMap id="baseResultMap" type="com.evergrande.qms.model.MaterialManage" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_code" property="materialCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </resultMap>

    <sql id="base_column_list">
        id,material_code,create_user,create_date,update_user,update_date
    </sql>

    <!-- 根据条件查询物料管理记录 -->
    <sql id="find_material_manage_column_list">
        id,material_code,material_name,material_type_code,material_type_name,material_category
    </sql>

    <!-- 根据(原材料)物料ID查询记录 -->
    <select id="searchByMaterialId" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_material_manage
        where material_code in (
            select material_code from qms_material
            where id = #{id,jdbcType=VARCHAR}
        )
    </select>

    <!-- 根据物料编码查询记录 -->
    <select id="searchByMaterialCode" parameterType="java.lang.String" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_material_manage
        where material_code = #{materialCode,jdbcType=VARCHAR}
    </select>

    <!-- 根据条件查询物料管理记录 -->
    <select id="findAllList" resultMap="findMaterialManageResultMap" parameterType="com.evergrande.qms.vo.MaterialManageVO" >
        SELECT mm.id,
            m.material_category, m.material_code, m.material_name, m.genre,
            mt.material_type_code, mt.material_type_name
        FROM qms_material_manage mm
        LEFT JOIN qms_material m ON mm.material_code = m.material_code
        LEFT JOIN qms_material_type mt ON m.material_type_code = mt.material_type_code
        <where>
            <!-- 材料类别 -->
            <if test="materialTypeCode != null and materialTypeCode != ''">
                and mt.material_type_code like CONCAT('%',#{materialTypeCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 材料类别名称 -->
            <if test="materialTypeName != null and materialTypeName != ''">
                and mt.material_type_name like CONCAT('%',#{materialTypeName,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料种类 -->
            <if test="materialCategory != null and materialCategory != ''">
                and m.material_category = #{materialCategory,jdbcType=VARCHAR}
            </if>
            <!-- 物料编码 -->
            <if test="materialCode != null and materialCode != ''">
                and m.material_code like CONCAT('%',#{materialCode,jdbcType=VARCHAR},'%' )
            </if>
            <if test="genre != null and genre != ''">
                and m.genre = #{genre,jdbcType=VARCHAR}
            </if>
            <!-- 物料名称 -->
            <if test="materialName != null and materialName != ''">
                and m.material_name like CONCAT('%',#{materialName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
        ORDER BY mm.create_date DESC
    </select>

    <!-- 获取表记录数量 -->
    <select id="getTableSize" resultType="java.lang.Integer" parameterType="com.evergrande.qms.vo.MaterialManageVO">
        select count(0)
        FROM qms_material_manage mm
        LEFT JOIN qms_material m ON mm.material_code = m.material_code
        LEFT JOIN qms_material_type mt ON m.material_type_code = mt.material_type_code
        <where>
            <!-- 材料类别 -->
            <if test="materialTypeCode != null and materialTypeCode != ''">
                and mt.material_type_code like CONCAT('%',#{materialTypeCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 材料类别名称 -->
            <if test="materialTypeName != null and materialTypeName != ''">
                and mt.material_type_name like CONCAT('%',#{materialTypeName,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料种类 -->
            <if test="materialCategory != null and materialCategory != ''">
                and m.material_category = #{materialCategory,jdbcType=VARCHAR}
            </if>
            <!-- 物料编码 -->
            <if test="materialCode != null and materialCode != ''">
                and m.material_code like CONCAT('%',#{materialCode,jdbcType=VARCHAR},'%' )
            </if>
            <if test="genre != null and genre != ''">
                and m.genre = #{genre,jdbcType=VARCHAR}
            </if>
            <!-- 物料名称 -->
            <if test="materialName != null and materialName != ''">
                and m.material_name like CONCAT('%',#{materialName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
    </select>

    <select id="findBaseMaterialList" resultMap="findMaterialManageResultMap" parameterType="com.evergrande.qms.vo.MaterialManageVO" >
        SELECT m.material_category, m.genre, m.material_code, m.material_name, mt.material_type_code, mt.material_type_name
        FROM  qms_material m
        LEFT JOIN qms_material_type mt ON m.material_type_code = mt.material_type_code
        <where>
            <!-- 材料类别编码 -->
            <if test="materialTypeCode != null and materialTypeCode != ''">
                and mt.material_type_code like CONCAT('%',#{materialTypeCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 材料类别名称 -->
            <if test="materialTypeName != null and materialTypeName != ''">
                and mt.material_type_Name like CONCAT('%',#{materialTypeName,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料种类 -->
            <if test="materialCategory != null and materialCategory != ''">
                and m.material_category like CONCAT('%',#{materialCategory,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料编码 -->
            <if test="materialCode != null and materialCode != ''">
                and m.material_code like CONCAT('%',#{materialCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料名称 -->
            <if test="materialName != null and materialName != ''">
                and m.material_name like CONCAT('%',#{materialName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
        <!-- for test -->
        LIMIT 15
    </select>

    <!-- 查询物料组/物料类型 -->
    <select id="findMaterialType" resultMap="findMaterialManageResultMap" parameterType="com.evergrande.qms.vo.MaterialManageVO" >
        SELECT id, material_type_code, material_type_name
        FROM qms_material_type
        <where>
            <!-- 物料组编码 -->
            <if test="materialTypeCode != null and materialTypeCode != ''">
                and material_type_code like CONCAT('%',#{materialTypeCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料组名称 -->
            <if test="materialTypeName != null and materialTypeName != ''">
                and material_type_name like CONCAT('%',#{materialTypeName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
    </select>

    <!-- 查询可抽样的物料信息 -->
    <select id="findSamplingMaterialList" resultMap="findMaterialManageResultMap" parameterType="com.evergrande.qms.vo.MaterialManageVO" >
        SELECT mm.id,
            m.material_category, m.genre, m.material_code, m.material_name,
            mt.material_type_code, mt.material_type_name
        FROM qms_material_manage mm
        LEFT JOIN qms_material m ON mm.material_code = m.material_code
        LEFT JOIN qms_material_type mt ON m.material_type_code = mt.material_type_code
        <where>
            <!-- 材料类别编码 -->
            <if test="materialTypeCode != null and materialTypeCode != ''">
                and mt.material_type_code like CONCAT('%',#{materialTypeCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 材料类别名称 -->
            <if test="materialTypeName != null and materialTypeName != ''">
                and mt.material_type_Name like CONCAT('%',#{materialTypeName,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料种类 -->
            <if test="materialCategory != null and materialCategory != ''">
                and m.material_category like CONCAT('%',#{materialCategory,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料编码 -->
            <if test="materialCode != null and materialCode != ''">
                and m.material_code like CONCAT('%',#{materialCode,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 物料名称 -->
            <if test="materialName != null and materialName != ''">
                and m.material_name like CONCAT('%',#{materialName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
    </select>

    <!-- 新增物料（材料）管理数据 -->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into qms_material_manage(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.materialCode,jdbcType=VARCHAR},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 修改物料（材料）管理数据 -->
    <update id="batchUpdate" parameterType="java.util.List">
        update qms_material_manage
        <trim prefix="set" suffixOverrides=",">
            <!-- 物料编码 -->
            <trim prefix="material_code=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.materialCode !=null and item.materialCode != ''">
                        when id=#{item.id} then #{item.materialCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>

            <trim prefix="update_user=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateUser !=null">
                        when id=#{item.id} then #{item.updateUser,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_date=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateDate !=null">
                        when id=#{item.id} then #{item.updateDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from qms_material_manage
        where id = #{id, jdbcType=VARCHAR}
    </delete>

    <!-- 批量删除记录 -->
    <delete id="batchDelete" parameterType="java.util.List">
        delete from qms_material_manage
        where id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!-- 查询导出的数据 -->
    <select id="findExportData" resultMap="findMaterialManageResultMap" parameterType="java.util.List">
        SELECT mm.id,
        m.material_category, m.genre, m.material_code, m.material_name,
        mt.material_type_code, mt.material_type_name
        FROM qms_material_manage mm
        LEFT JOIN qms_material m ON mm.material_code = m.material_code
        LEFT JOIN qms_material_type mt ON m.material_type_code = mt.material_type_code
        where mm.id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>

    <!-- 获取表记录数量 -->
    <select id="getExportSize" resultType="java.lang.Integer" parameterType="java.util.List">
        select count(0)
        FROM qms_material_manage mm
        where mm.id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>


