<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.NationalStandardMapper">

    <resultMap id="findNationalStandardResultMap" type="com.evergrande.qms.vo.NationalStandardVO" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="standard_num" property="standardNum" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="standard_name" property="standardName" jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <resultMap id="baseResultMap" type="com.evergrande.qms.model.NationalStandard" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="standard_num" property="standardNum" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="standard_name" property="standardName" jdbcType="VARCHAR" javaType="java.lang.String" /> <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </resultMap>

    <sql id="base_column_list">
        id,standard_num,standard_name,standard_property,create_user,create_date,update_user,update_date
    </sql>

    <!-- 根据ID查询记录 -->
    <select id="get" resultMap="baseResultMap"
            parameterType="java.lang.String" >
        select
        <include refid="base_column_list"/>
        from qms_national_standard
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据标准号查询记录 -->
    <select id="findByStandardNum" resultMap="baseResultMap"
            parameterType="java.lang.String" >
        select
        <include refid="base_column_list"/>
        from qms_national_standard
        where standard_num = #{standardNum,jdbcType=VARCHAR}
    </select>

    <!-- 根据标准名称查询记录,主要用于验证其唯一性，需要模糊查询的同学，请自己另写方法 -->
    <select id="findByStandardName" resultMap="baseResultMap"
            parameterType="java.lang.String" >
        select
        <include refid="base_column_list"/>
        from qms_national_standard
        where standard_name = #{standardName,jdbcType=VARCHAR}
    </select>

    <!-- 根据条件查询记录 -->
    <select id="findAllList" resultMap="findNationalStandardResultMap"
            parameterType="com.evergrande.qms.vo.NationalStandardVO" >
        select id,standard_num,standard_name
        from qms_national_standard
        <where>
            <!-- 标准号 -->
            <if test="standardNum != null and standardNum != ''">
                and standard_num like CONCAT('%',#{standardNum,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 标准名称/标准内容 -->
            <if test="standardName != null and standardName != ''">
                and standard_name like CONCAT('%',#{standardName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
        ORDER BY create_date DESC
    </select>

    <!-- 获取表记录数量 -->
    <select id="getTableSize" resultType="java.lang.Integer" parameterType="com.evergrande.qms.vo.NationalStandardVO">
        select count(0)
        from qms_national_standard
        <where>
            <!-- 标准号 -->
            <if test="standardNum != null and standardNum != ''">
                and standard_num like CONCAT('%',#{standardNum,jdbcType=VARCHAR},'%' )
            </if>
            <!-- 标准名称/标准内容 -->
            <if test="standardName != null and standardName != ''">
                and standard_name like CONCAT('%',#{standardName,jdbcType=VARCHAR},'%' )
            </if>
        </where>
    </select>

    <!-- 新增记录 -->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into qms_national_standard(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.standardNum,jdbcType=VARCHAR},
            #{item.standardName,jdbcType=VARCHAR},
            #{item.standardProperty,jdbcType=VARCHAR},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 修改记录 -->
    <update id="batchUpdate" parameterType="java.util.List">
        update qms_national_standard
        <trim prefix="set" suffixOverrides=",">
            <!-- 标准号 -->
            <trim prefix="standard_num=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.standardNum !=null and item.standardNum != ''">
                        when id=#{item.id} then #{item.standardNum,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>

            <!-- 标准名称/标准内容 -->
            <trim prefix="standard_name=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.standardName !=null and item.standardName != ''">
                        when id=#{item.id} then #{item.standardName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>

            <!-- 标准性质 -->
            <trim prefix="standard_property=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.standardProperty !=null and item.standardProperty != ''">
                        when id=#{item.id} then #{item.standardProperty,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>

            <trim prefix="update_user=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateUser !=null">
                        when id=#{item.id} then #{item.updateUser,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_date=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateDate !=null">
                        when id=#{item.id} then #{item.updateDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from qms_national_standard
        where id = #{id, jdbcType=VARCHAR}
    </delete>

    <!-- 批量删除记录 -->
    <delete id="batchDelete" parameterType="java.util.List">
        delete from qms_national_standard
        where id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!-- 查询导出的数据 -->
    <select id="findExportData" resultMap="findNationalStandardResultMap" parameterType="java.util.List">
        select id,standard_num,standard_name
        from qms_national_standard
        where id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>

    <!-- 获取表记录数量 -->
    <select id="getExportSize" resultType="java.lang.Integer" parameterType="java.util.List">
        select count(0)
        from qms_national_standard
        where id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>


