<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.OssAttachmentBindMapper">
    <resultMap id="BaseResultMap" type="com.evergrande.qms.model.OssAttachmentBind">
        <id column="id" jdbcType="VARCHAR" property="id"  javaType="java.lang.String" />
        <result column="oss_attachment_id" jdbcType="VARCHAR" property="ossAttachmentId"  javaType="java.lang.String" />
        <result column="relevance_id" jdbcType="VARCHAR" property="relevanceId"  javaType="java.lang.String" />
        <result column="type" jdbcType="VARCHAR" property="type"  javaType="java.lang.String" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser"  javaType="java.lang.String" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"  javaType="java.util.Date" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"  javaType="java.lang.String" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"  javaType="java.util.Date" />
        <result column="status" jdbcType="VARCHAR" property="status"  javaType="java.lang.String" />
    </resultMap>
    <resultMap id="ResultMap" type="com.evergrande.qms.model.OssAttachmentBind">
        <id column="id" jdbcType="VARCHAR" property="id"  javaType="java.lang.String" />
        <result column="oss_attachment_id" jdbcType="VARCHAR" property="ossAttachmentId"  javaType="java.lang.String" />
        <result column="relevance_id" jdbcType="VARCHAR" property="relevanceId"  javaType="java.lang.String" />
        <result column="type" jdbcType="VARCHAR" property="type"  javaType="java.lang.String" />
        <result column="status" jdbcType="VARCHAR" property="status"  javaType="java.lang.String" />
        <collection property="ossAttachmentList" javaType="java.util.List" ofType="com.evergrande.qms.model.OssAttachment" column="ossAttachmentId">
            <id column="id" jdbcType="VARCHAR" property="id"  javaType="java.lang.String" />
            <result column="oss_key" jdbcType="VARCHAR" property="ossKey"  javaType="java.lang.String" />
            <result column="oss_url" jdbcType="VARCHAR" property="ossUrl"  javaType="java.lang.String" />
            <result column="original_file_name" jdbcType="VARCHAR" property="originalFileName"  javaType="java.lang.String" />
            <result column="status" jdbcType="VARCHAR" property="status"  javaType="java.lang.String" />
            <result column="file_size" jdbcType="BIGINT" property="fileSize"  javaType="java.lang.Long" />
        </collection>
    </resultMap>

    <resultMap id="OssAttachmentBindMap" type="com.evergrande.qms.model.OssAttachmentBind">
        <result column="relevance_id" jdbcType="VARCHAR" property="relevanceId"  javaType="java.lang.String" />
        <result column="type" jdbcType="VARCHAR" property="type"  javaType="java.lang.String" />
        <result column="status" jdbcType="VARCHAR" property="status"  javaType="java.lang.String" />
        <collection property="ossAttachmentList" javaType="java.util.List" ofType="com.evergrande.qms.model.OssAttachment" column="ossAttachmentId">
            <result column="oss_key" jdbcType="VARCHAR" property="ossKey"  javaType="java.lang.String" />
            <result column="oss_url" jdbcType="VARCHAR" property="ossUrl"  javaType="java.lang.String" />
            <result column="original_file_name" jdbcType="VARCHAR" property="originalFileName"  javaType="java.lang.String" />
            <result column="status" jdbcType="VARCHAR" property="status"  javaType="java.lang.String" />
            <result column="file_size" jdbcType="BIGINT" property="fileSize"  javaType="java.lang.Long" />
        </collection>
    </resultMap>

    <!-- 根据组合ID查询记录 Add by laifuying -->
    <resultMap id="getByRelevanceIdMap" type="com.evergrande.qms.vo.OssAttachmentVO">
        <result column="aId" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="bId" property="bId" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="oss_key" property="ossKey" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="oss_url" property="ossUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="original_file_name" property="originalFileName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="file_size" property="fileSize" jdbcType="BIGINT" javaType="java.lang.Long" />
    </resultMap>

    <resultMap id="QmsOssAttachmentAppVOMap" type="com.evergrande.qms.vo.QmsOssAttachmentAppVO">
        <id column="id" jdbcType="VARCHAR" property="id"  javaType="java.lang.String" />
        <result column="oss_attachment_id" jdbcType="VARCHAR" property="ossAttachmentId"  javaType="java.lang.String" />
        <result column="relevance_id" jdbcType="VARCHAR" property="relevanceId"  javaType="java.lang.String" />
        <result column="type" jdbcType="VARCHAR" property="type"  javaType="java.lang.String" />
        <result column="status" jdbcType="VARCHAR" property="status"  javaType="java.lang.String" />
        <collection property="ossAttachmentList" javaType="java.util.List" ofType="com.evergrande.qms.model.OssAttachment" column="ossAttachmentId">
            <id column="id" jdbcType="VARCHAR" property="id"  javaType="java.lang.String" />
            <result column="oss_key" jdbcType="VARCHAR" property="ossKey"  javaType="java.lang.String" />
            <result column="oss_url" jdbcType="VARCHAR" property="ossUrl"  javaType="java.lang.String" />
            <result column="original_file_name" jdbcType="VARCHAR" property="originalFileName"  javaType="java.lang.String" />
            <result column="bindStatus" jdbcType="VARCHAR" property="status"  javaType="java.lang.String" />
            <result column="file_size" jdbcType="BIGINT" property="fileSize"  javaType="java.lang.Long" />
        </collection>
    </resultMap>

    <sql id="base_column_list">
        id, oss_attachment_id, relevance_id,type,create_user,create_date,update_user,update_date,status
    </sql>

    <!-- 根据组合ID查询记录 Add by laifuying -->
    <select id="getByRelevanceId" parameterType="java.lang.String"
            resultMap="getByRelevanceIdMap">
        SELECT
        b.id bId,a.id aId,a.original_file_name, a.oss_key, a.oss_url, a.file_size
        FROM qms_oss_attachment_bind b
        LEFT JOIN qms_oss_attachment a on b.oss_attachment_id = a.id
        WHERE b.relevance_id = #{id}
    </select>

    <!-- 根据组合ID查询记录 Add by laifuying -->
    <select id="getBaseRecByRelevanceId" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_oss_attachment_bind
        where relevance_id in
        <foreach collection="list" index="index" item="relevanceId" separator="," open="(" close=")">
            #{relevanceId,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="selectSignTable" resultMap="ResultMap">
        SELECT
        t.id,
        t.oss_url,
        t.oss_key,
        t.`status`,
        t.file_size,
        t1.id,
        t1.oss_attachment_id,
        t1.relevance_id,
        t1.type,
        t.original_file_name,
        t1.`status`
        FROM
        qms_oss_attachment AS t LEFT JOIN
        qms_oss_attachment_bind AS t1 ON t1.oss_attachment_id=t.id AND t.`status`='Y' AND t1.`status`='Y' AND t1.type='6' WHERE t1.relevance_id=#{relevanceId,jdbcType=VARCHAR}
    </select>
    <select id="selectPowerOfAttorney" resultMap="ResultMap">
        SELECT
        t.id,
        t.oss_url,
        t.oss_key,
        t.`status`,
        t.file_size,
        t1.id,
        t1.oss_attachment_id,
        t1.relevance_id,
        t1.type,
        t.original_file_name,
        t1.`status`
        FROM
        qms_oss_attachment AS t LEFT JOIN
        qms_oss_attachment_bind AS t1 ON t1.oss_attachment_id=t.id AND t.`status`='Y' AND t1.`status`='Y' AND t1.type='7' WHERE t1.relevance_id=#{relevanceId,jdbcType=VARCHAR}
    </select>
    <!-- 新增记录 Add by laifuying -->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into qms_oss_attachment_bind(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.ossAttachmentId,jdbcType=VARCHAR},
            #{item.relevanceId,jdbcType=VARCHAR},
            #{item.type,jdbcType=VARCHAR},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP},
            #{item.status,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from qms_oss_attachment_bind
        where oss_attachment_id = #{id,jdbcType=VARCHAR}

    </delete>

    <delete id="batchDeleteByRelevanceId" parameterType="java.util.List">
        delete from qms_oss_attachment_bind
        where relevance_id in
        <foreach collection="list" index="index" item="relevanceId" separator="," open="(" close=")">
            #{relevanceId,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!--chensheng-->
    <select id="selectOssAttachmentTableList"  resultMap="QmsOssAttachmentAppVOMap">
        SELECT
        t.id,
        t.oss_url,
        t.oss_key,
        t.`status`,
        t.file_size,
        t1.id,
        t1.oss_attachment_id,
        t1.relevance_id,
        t1.type,
        t.original_file_name,
        t1.`status`
        FROM
        qms_oss_attachment AS t LEFT JOIN
        qms_oss_attachment_bind AS t1 ON t1.oss_attachment_id=t.id AND t.`status`='Y' AND t1.`status`='Y'
        <where>
            <if test="type != null and type != ''">
                and t1.type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="relevanceIdList != null and relevanceIdList.size() > 0">
                and t1.relevance_id in
                <foreach collection="relevanceIdList" index="index" item="relevanceId" separator="," open="(" close=")">
                    #{relevanceId,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>
    <select id="selectByRelevanceId" resultType="java.util.Map">
        SELECT
            q.oss_key,
            q.oss_url,
            q.original_file_name,
            q.file_size,
            b.oss_attachment_id,
            b.relevance_id,
            b.type
        FROM
            qms_oss_attachment AS q
            INNER JOIN qms_oss_attachment_bind AS b ON q.id = b.oss_attachment_id
            AND q.`status` = 'Y'
            AND b.`status` = 'Y'
        WHERE
            b.relevance_id = #{relevanceId}
            AND b.type = #{type}
    </select>


</mapper>