<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evergrande.qms.mapper.QmsGlobalSamplePlanQueryMapper">

    <select id="findAllList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT
        *
        FROM
        (
        SELECT
        l.sample_plan_code AS samplePlanCode,
        l.row_num AS rowNum,
        l.material_type_code AS materialTypeCode,
        l.material_type AS materialTypeName,
        l.material_code AS materialCode,
        l.material_desc AS materialDesc,
        n.supplier_code AS supplierCode,
        n.supplier_name AS supplierName,
        l.brand,
        u2.real_name AS dutyUserName,
        l.material_standard AS materialStandard,
        ( CASE WHEN n.sample_type = '1' THEN '工厂' WHEN n.sample_type = '2' THEN '现场' ELSE '' END ) AS sampleType,
        n.plan_type AS planTypeCode,
        ( CASE WHEN n.plan_type = '0' THEN '计划内' WHEN n.plan_type = '1' THEN '计划外' ELSE '' END ) AS planType,
        l.sample_order_number AS sampleOrderNumber,
        l.plan_sample_amount AS planSampleAmount,
        l.actual_sample_amount AS actualSampleAmount,
        n.sample_date AS sampleDate,
        n.sample_address AS sampleAddress,
        u3.NAME AS sampleDepartmentName,
        n.inspect_department AS inspectDepartmentName,
        n.receive_sample_user_name AS receiveSampleUserName,
        n.receive_sample_user_phone AS receiveSampleUserPhone,
        n.sample_user_name AS sampleUserName,
        l.sample_time AS sampleTime,
        (
        CASE
        WHEN n.STATUS = '1' THEN
        '草稿'
        WHEN n.STATUS = '2' THEN
        '待审核'
        WHEN n.STATUS = '3' THEN
        '待下发'
        WHEN n.STATUS = '4' THEN
        '待抽样'
        WHEN n.STATUS = '5' THEN
        '待收样'
        WHEN n.STATUS = '6' THEN
        '待委托'
        WHEN n.STATUS = '7' THEN
        '待寄出'
        WHEN n.STATUS = '8' THEN
        '待检测'
        WHEN n.STATUS = '9' THEN
        '待校对'
        WHEN n.STATUS = '10' THEN
        '已完成'
        WHEN n.STATUS = '11' THEN
        '已取消' ELSE ''
        END
        ) AS statusStr,
        n.STATUS AS STATUS,
        ( CASE WHEN l.recheck_flag = '1' THEN '是' WHEN l.recheck_flag = '2' THEN '否' ELSE '' END ) AS recheckFlag,
        l.create_date AS createDate,
        (
        CASE
        WHEN l.cancel_reason = '其他' THEN
        CONCAT( l.cancel_reason, '（', IFNULL( l.other_reasons, '' ), '）' ) ELSE l.cancel_reason
        END
        ) AS cancelReason,
        l.arrival_time AS arrivalTime,
        n.actual_sample_date AS actualSampleDate,
        r.inspection_order_num AS inspectionOrderNum,
        r.delegation_code AS delegationCode,
        l.send_off_time AS sendOffTime,
        r.inspection_organization AS inspectionOrganization,
        u4.institute_name AS inspectionOrganizationName,
        l.actual_sample_amount AS sampleAmount,
        r.sample_arrive_time AS sampleArriveTime,
        ( CASE WHEN t.review_result = '3' THEN '是' ELSE '否' END ) AS reviewResult,
        (
        CASE
        WHEN l.recheck_flag = '1' THEN
        ( CASE WHEN t.system_check_result = '1' THEN '合格' WHEN t.system_check_result = '2' THEN '不合格' ELSE '' END )
        WHEN l.recheck_flag = '2' THEN
        (
        CASE
        WHEN t.system_check_result = '1' THEN
        '合格'
        WHEN t.system_check_result = '2' THEN
        (
        CASE
        WHEN l.review_status = '3' THEN
        ( CASE WHEN t.review_result = '1' THEN '合格'
                WHEN t.review_result = '2' THEN '不合格'
                WHEN t.review_result = '3' THEN '不合格'
                WHEN t.review_result = '4' THEN '不合格'
                ELSE '' END
        ) ELSE '' END
        ) ELSE ''
        END
        ) ELSE ''
        END
        ) AS inspectionEvaluate,
        (
        CASE
        WHEN l.recheck_flag = '1' THEN
        ( CASE WHEN t.system_check_result = '1' THEN '1' WHEN t.system_check_result = '2' THEN '2' ELSE '' END )
        WHEN l.recheck_flag = '2' THEN
        (
        CASE
        WHEN t.system_check_result = '1' THEN
        '1'
        WHEN t.system_check_result = '2' THEN
        (
        CASE
        WHEN l.review_status = '3' THEN
        ( CASE WHEN t.review_result = '1' THEN '1'
        WHEN t.review_result = '2' THEN '2'
        WHEN t.review_result = '3' THEN '2'
        WHEN t.review_result = '4' THEN '2'
        ELSE '' END ) ELSE ''
        END
        ) ELSE ''
        END
        ) ELSE ''
        END
        ) AS inspectionEvaluateCode,
        concat( l.id, '@', IFNULL( t.id, '' ) ) AS id
        FROM
        qms_sample_plan_detail l
        LEFT JOIN qms_sample_plan n ON l.sample_plan_code = n.sample_plan_code
        AND n.data_status = '1'
        AND l.data_status = '1'
        LEFT JOIN qms_order_material_detail_bind d ON l.id = d.sample_plan_detail_id
        LEFT JOIN qms_inspection_order r ON d.inspection_order_id = r.id
        LEFT JOIN qms_inspection_result t ON l.sample_plan_code = t.sample_plan_code
        AND l.material_code = t.material_code
        LEFT JOIN idm_sync_user u2 ON u2.login_name = l.duty_user_id
        LEFT JOIN idm_sync_dept u3 ON u3.id = n.sample_department_id
        LEFT JOIN qms_inspection_institute u4 ON u4.institute_code = r.inspection_organization
        ) A
        <where>
            <if test="materialType != null and materialType != ''">
                and materialTypeName like concat('%',#{materialType},'%')
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                and supplierCode like concat('%',#{supplierCode},'%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                and supplierName like concat('%',#{supplierName},'%')
            </if>
            <if test="planType != null and planType != ''">
                and planTypeCode = #{planType}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and materialCode like concat('%',#{materialCode},'%')
            </if>
            <if test="inspectionOrganizationName != null and inspectionOrganizationName != ''">
                and inspectionOrganizationName like concat('%',#{inspectionOrganizationName},'%')
            </if>
            <if test="inspectionEvaluate != null and inspectionEvaluate != ''">
                and inspectionEvaluateCode = #{inspectionEvaluate}
            </if>
            <if test="materialDesc != null and materialDesc != ''">
                and materialDesc like concat('%',#{materialDesc},'%')
            </if>
            <if test="sampleUserName != null and sampleUserName != ''">
                and sampleUserName like concat('%',#{sampleUserName},'%')
            </if>
            <if test="delegationCode != null and delegationCode != ''">
                and delegationCode like concat('%',#{delegationCode},'%')
            </if>
            <if test="sampleAddress != null and sampleAddress != ''">
                and sampleAddress like concat('%',#{sampleAddress},'%')
            </if>
            <if test="samplePlanCode != null and samplePlanCode != ''">
                and samplePlanCode like concat('%',#{samplePlanCode},'%')
            </if>
            <if test="actualSampleStartDate != null">
                <![CDATA[
				   and sampleDate >= #{actualSampleStartDate}
				 ]]>
            </if>
            <if test="actualSampleEndDate != null">
                <![CDATA[
					and sampleDate <= #{actualSampleEndDate}
				]]>
            </if>
        </where>
    </select>

    <select id="exportData" resultType="java.util.HashMap" parameterType="com.evergrande.qms.model.QmsGlobalSamplePlanQuery">
        SELECT
        *
        FROM
        (
        SELECT
        l.sample_plan_code AS samplePlanCode,
        l.row_num AS rowNum,
        l.material_type_code AS materialTypeCode,
        l.material_type AS materialTypeName,
        l.material_code AS materialCode,
        l.material_desc AS materialDesc,
        n.supplier_code AS supplierCode,
        n.supplier_name AS supplierName,
        l.brand,
        u2.real_name AS dutyUserName,
        l.material_standard AS materialStandard,
        ( CASE WHEN n.sample_type = '1' THEN '工厂' WHEN n.sample_type = '2' THEN '现场' ELSE '' END ) AS sampleType,
        n.plan_type AS planTypeCode,
        ( CASE WHEN n.plan_type = '0' THEN '计划内' WHEN n.plan_type = '1' THEN '计划外' ELSE '' END ) AS planType,
        l.sample_order_number AS sampleOrderNumber,
        l.plan_sample_amount AS planSampleAmount,
        l.actual_sample_amount AS actualSampleAmount,
        n.sample_date AS sampleDate,
        n.sample_address AS sampleAddress,
        u3.NAME AS sampleDepartmentName,
        n.inspect_department AS inspectDepartmentName,
        n.receive_sample_user_name AS receiveSampleUserName,
        n.receive_sample_user_phone AS receiveSampleUserPhone,
        n.sample_user_name AS sampleUserName,
        l.sample_time AS sampleTime,
        (
        CASE
        WHEN n.STATUS = '1' THEN
        '草稿'
        WHEN n.STATUS = '2' THEN
        '待审核'
        WHEN n.STATUS = '3' THEN
        '待下发'
        WHEN n.STATUS = '4' THEN
        '待抽样'
        WHEN n.STATUS = '5' THEN
        '待收样'
        WHEN n.STATUS = '6' THEN
        '待委托'
        WHEN n.STATUS = '7' THEN
        '待寄出'
        WHEN n.STATUS = '8' THEN
        '待检测'
        WHEN n.STATUS = '9' THEN
        '待校对'
        WHEN n.STATUS = '10' THEN
        '已完成'
        WHEN n.STATUS = '11' THEN
        '已取消' ELSE ''
        END
        ) AS statusStr,
        n.STATUS AS STATUS,
        ( CASE WHEN l.recheck_flag = '1' THEN '是' WHEN l.recheck_flag = '2' THEN '否' ELSE '' END ) AS recheckFlag,
        l.create_date AS createDate,
        (
        CASE
        WHEN l.cancel_reason = '其他' THEN
        CONCAT( l.cancel_reason, '（', IFNULL( l.other_reasons, '' ), '）' ) ELSE l.cancel_reason
        END
        ) AS cancelReason,
        l.arrival_time AS arrivalTime,
        n.actual_sample_date AS actualSampleDate,
        r.inspection_order_num AS inspectionOrderNum,
        r.delegation_code AS delegationCode,
        l.send_off_time AS sendOffTime,
        r.inspection_organization AS inspectionOrganization,
        u4.institute_name AS inspectionOrganizationName,
        l.actual_sample_amount AS sampleAmount,
        r.sample_arrive_time AS sampleArriveTime,
        ( CASE WHEN t.review_result = '3' THEN '是' ELSE '否' END ) AS reviewResult,
        (
        CASE
        WHEN l.recheck_flag = '1' THEN
        ( CASE WHEN t.system_check_result = '1' THEN '合格' WHEN t.system_check_result = '2' THEN '不合格' ELSE '' END )
        WHEN l.recheck_flag = '2' THEN
        (
        CASE
        WHEN t.system_check_result = '1' THEN
        '合格'
        WHEN t.system_check_result = '2' THEN
        (
        CASE
        WHEN l.review_status = '3' THEN
        ( CASE WHEN t.review_result = '1' THEN '合格'
        WHEN t.review_result = '2' THEN '不合格'
        WHEN t.review_result = '3' THEN '不合格'
        WHEN t.review_result = '4' THEN '不合格'
        ELSE '' END
        ) ELSE '' END
        ) ELSE ''
        END
        ) ELSE ''
        END
        ) AS inspectionEvaluate,
        (
        CASE
        WHEN l.recheck_flag = '1' THEN
        ( CASE WHEN t.system_check_result = '1' THEN '1' WHEN t.system_check_result = '2' THEN '2' ELSE '' END )
        WHEN l.recheck_flag = '2' THEN
        (
        CASE
        WHEN t.system_check_result = '1' THEN
        '1'
        WHEN t.system_check_result = '2' THEN
        (
        CASE
        WHEN l.review_status = '3' THEN
        ( CASE WHEN t.review_result = '1' THEN '1'
        WHEN t.review_result = '2' THEN '2'
        WHEN t.review_result = '3' THEN '2'
        WHEN t.review_result = '4' THEN '2'
        ELSE '' END ) ELSE ''
        END
        ) ELSE ''
        END
        ) ELSE ''
        END
        ) AS inspectionEvaluateCode,
        concat( l.id, '@', IFNULL( t.id, '' ) ) AS id
        FROM
        qms_sample_plan_detail l
        LEFT JOIN qms_sample_plan n ON l.sample_plan_code = n.sample_plan_code
        AND n.data_status = '1'
        AND l.data_status = '1'
        LEFT JOIN qms_order_material_detail_bind d ON l.id = d.sample_plan_detail_id
        LEFT JOIN qms_inspection_order r ON d.inspection_order_id = r.id
        LEFT JOIN qms_inspection_result t ON l.sample_plan_code = t.sample_plan_code
        AND l.material_code = t.material_code
        LEFT JOIN idm_sync_user u2 ON u2.login_name = l.duty_user_id
        LEFT JOIN idm_sync_dept u3 ON u3.id = n.sample_department_id
        LEFT JOIN qms_inspection_institute u4 ON u4.institute_code = r.inspection_organization
        ) A
        <where>
            <if test="materialType != null and materialType != ''">
                and materialTypeName like concat('%',#{materialType},'%')
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                and supplierCode like concat('%',#{supplierCode},'%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                and supplierName like concat('%',#{supplierName},'%')
            </if>
            <if test="planType != null and planType != ''">
                and planTypeCode = #{planType}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and materialCode like concat('%',#{materialCode},'%')
            </if>
            <if test="inspectionOrganizationName != null and inspectionOrganizationName != ''">
                and inspectionOrganizationName like concat('%',#{inspectionOrganizationName},'%')
            </if>
            <if test="inspectionEvaluate != null and inspectionEvaluate != ''">
                and inspectionEvaluateCode = #{inspectionEvaluate}
            </if>
            <if test="materialDesc != null and materialDesc != ''">
                and materialDesc like concat('%',#{materialDesc},'%')
            </if>
            <if test="sampleUserName != null and sampleUserName != ''">
                and sampleUserName like concat('%',#{sampleUserName},'%')
            </if>
            <if test="delegationCode != null and delegationCode != ''">
                and delegationCode like concat('%',#{delegationCode},'%')
            </if>
            <if test="sampleAddress != null and sampleAddress != ''">
                and sampleAddress like concat('%',#{sampleAddress},'%')
            </if>
            <if test="samplePlanCode != null and samplePlanCode != ''">
                and samplePlanCode like concat('%',#{samplePlanCode},'%')
            </if>
            <if test="actualSampleStartDate != null">
                <![CDATA[
				   and sampleDate >= #{actualSampleStartDate}
				 ]]>
            </if>
            <if test="actualSampleEndDate != null">
                <![CDATA[
					and sampleDate <= #{actualSampleEndDate}
				]]>
            </if>
            <if test="idList != null and idList.size > 0">
                and id in
                <foreach collection="idList" index="index" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="countData" resultType="java.lang.Integer" parameterType="com.evergrande.qms.model.QmsGlobalSamplePlanQuery">
        SELECT
        count(1)
        FROM
        (
        SELECT
        l.sample_plan_code AS samplePlanCode,
        l.row_num AS rowNum,
        l.material_type_code AS materialTypeCode,
        l.material_type AS materialTypeName,
        l.material_code AS materialCode,
        l.material_desc AS materialDesc,
        n.supplier_code AS supplierCode,
        n.supplier_name AS supplierName,
        l.brand,
        u2.real_name AS dutyUserName,
        l.material_standard AS materialStandard,
        ( CASE WHEN n.sample_type = '1' THEN '工厂' WHEN n.sample_type = '2' THEN '现场' ELSE '' END ) AS sampleType,
        n.plan_type AS planTypeCode,
        ( CASE WHEN n.plan_type = '0' THEN '计划内' WHEN n.plan_type = '1' THEN '计划外' ELSE '' END ) AS planType,
        l.sample_order_number AS sampleOrderNumber,
        l.plan_sample_amount AS planSampleAmount,
        l.actual_sample_amount AS actualSampleAmount,
        n.sample_date AS sampleDate,
        n.sample_address AS sampleAddress,
        u3.NAME AS sampleDepartmentName,
        n.inspect_department AS inspectDepartmentName,
        n.receive_sample_user_name AS receiveSampleUserName,
        n.receive_sample_user_phone AS receiveSampleUserPhone,
        n.sample_user_name AS sampleUserName,
        l.sample_time AS sampleTime,
        (
        CASE
        WHEN n.STATUS = '1' THEN
        '草稿'
        WHEN n.STATUS = '2' THEN
        '待审核'
        WHEN n.STATUS = '3' THEN
        '待下发'
        WHEN n.STATUS = '4' THEN
        '待抽样'
        WHEN n.STATUS = '5' THEN
        '待收样'
        WHEN n.STATUS = '6' THEN
        '待委托'
        WHEN n.STATUS = '7' THEN
        '待寄出'
        WHEN n.STATUS = '8' THEN
        '待检测'
        WHEN n.STATUS = '9' THEN
        '待校对'
        WHEN n.STATUS = '10' THEN
        '已完成'
        WHEN n.STATUS = '11' THEN
        '已取消' ELSE ''
        END
        ) AS statusStr,
        n.STATUS AS STATUS,
        ( CASE WHEN l.recheck_flag = '1' THEN '是' WHEN l.recheck_flag = '2' THEN '否' ELSE '' END ) AS recheckFlag,
        l.create_date AS createDate,
        (
        CASE
        WHEN l.cancel_reason = '其他' THEN
        CONCAT( l.cancel_reason, '（', IFNULL( l.other_reasons, '' ), '）' ) ELSE l.cancel_reason
        END
        ) AS cancelReason,
        l.arrival_time AS arrivalTime,
        n.actual_sample_date AS actualSampleDate,
        r.inspection_order_num AS inspectionOrderNum,
        r.delegation_code AS delegationCode,
        l.send_off_time AS sendOffTime,
        r.inspection_organization AS inspectionOrganization,
        u4.institute_name AS inspectionOrganizationName,
        l.actual_sample_amount AS sampleAmount,
        r.sample_arrive_time AS sampleArriveTime,
        ( CASE WHEN t.review_result = '3' THEN '是' ELSE '否' END ) AS reviewResult,
        (
        CASE
        WHEN l.recheck_flag = '1' THEN
        ( CASE WHEN t.system_check_result = '1' THEN '合格' WHEN t.system_check_result = '2' THEN '不合格' ELSE '' END )
        WHEN l.recheck_flag = '2' THEN
        (
        CASE
        WHEN t.system_check_result = '1' THEN
        '合格'
        WHEN t.system_check_result = '2' THEN
        (
        CASE
        WHEN l.review_status = '3' THEN
        ( CASE WHEN t.review_result = '1' THEN '合格'
        WHEN t.review_result = '2' THEN '不合格'
        WHEN t.review_result = '3' THEN '不合格'
        WHEN t.review_result = '4' THEN '不合格'
        ELSE '' END
        ) ELSE '' END
        ) ELSE ''
        END
        ) ELSE ''
        END
        ) AS inspectionEvaluate,
        (
        CASE
        WHEN l.recheck_flag = '1' THEN
        ( CASE WHEN t.system_check_result = '1' THEN '1' WHEN t.system_check_result = '2' THEN '2' ELSE '' END )
        WHEN l.recheck_flag = '2' THEN
        (
        CASE
        WHEN t.system_check_result = '1' THEN
        '1'
        WHEN t.system_check_result = '2' THEN
        (
        CASE
        WHEN l.review_status = '3' THEN
        ( CASE WHEN t.review_result = '1' THEN '1'
        WHEN t.review_result = '2' THEN '2'
        WHEN t.review_result = '3' THEN '2'
        WHEN t.review_result = '4' THEN '2'
        ELSE '' END ) ELSE ''
        END
        ) ELSE ''
        END
        ) ELSE ''
        END
        ) AS inspectionEvaluateCode,
        concat( l.id, '@', IFNULL( t.id, '' ) ) AS id
        FROM
        qms_sample_plan_detail l
        LEFT JOIN qms_sample_plan n ON l.sample_plan_code = n.sample_plan_code
        AND n.data_status = '1'
        AND l.data_status = '1'
        LEFT JOIN qms_order_material_detail_bind d ON l.id = d.sample_plan_detail_id
        LEFT JOIN qms_inspection_order r ON d.inspection_order_id = r.id
        LEFT JOIN qms_inspection_result t ON l.sample_plan_code = t.sample_plan_code
        AND l.material_code = t.material_code
        LEFT JOIN idm_sync_user u2 ON u2.login_name = l.duty_user_id
        LEFT JOIN idm_sync_dept u3 ON u3.id = n.sample_department_id
        LEFT JOIN qms_inspection_institute u4 ON u4.institute_code = r.inspection_organization
        ) A
        <where>
            <if test="materialType != null and materialType != ''">
                and materialTypeName like concat('%',#{materialType},'%')
            </if>
            <if test="supplierCode != null and supplierCode != ''">
                and supplierCode like concat('%',#{supplierCode},'%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                and supplierName like concat('%',#{supplierName},'%')
            </if>
            <if test="planType != null and planType != ''">
                and planTypeCode = #{planType}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and materialCode like concat('%',#{materialCode},'%')
            </if>
            <if test="inspectionOrganizationName != null and inspectionOrganizationName != ''">
                and inspectionOrganizationName like concat('%',#{inspectionOrganizationName},'%')
            </if>
            <if test="inspectionEvaluate != null and inspectionEvaluate != ''">
                and inspectionEvaluateCode = #{inspectionEvaluate}
            </if>
            <if test="materialDesc != null and materialDesc != ''">
                and materialDesc like concat('%',#{materialDesc},'%')
            </if>
            <if test="sampleUserName != null and sampleUserName != ''">
                and sampleUserName like concat('%',#{sampleUserName},'%')
            </if>
            <if test="delegationCode != null and delegationCode != ''">
                and delegationCode like concat('%',#{delegationCode},'%')
            </if>
            <if test="sampleAddress != null and sampleAddress != ''">
                and sampleAddress like concat('%',#{sampleAddress},'%')
            </if>
            <if test="samplePlanCode != null and samplePlanCode != ''">
                and samplePlanCode like concat('%',#{samplePlanCode},'%')
            </if>
            <if test="actualSampleStartDate != null">
                <![CDATA[
				   and sampleDate >= #{actualSampleStartDate}
				 ]]>
            </if>
            <if test="actualSampleEndDate != null">
                <![CDATA[
					and sampleDate <= #{actualSampleEndDate}
				]]>
            </if>
            <if test="idList != null and idList.size > 0">
                and id in
                <foreach collection="idList" index="index" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>