<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evergrande.qms.mapper.QmsInspectionOrderMapper">

    <sql id="base_column_list">
       		r.id ,
			r.inspection_order_num as inspectionOrderNum ,
			r.delegation_code as delegationCode ,
			date_format(r.inspection_send_time, '%Y-%m-%d') as inspectionSendTime,
			r.inspection_organization as inspectionOrganization,
			date_format(r.sample_arrive_time, '%Y-%m-%d') as sampleArriveTime,
			e.institute_name as inspectionOrganizationName,
			r.status,
			(case when r.status='1' then '待确认'
			when r.status='2' then '待收样'
			when r.status='3' then '待检测'
			when r.status='4' then '已检测'
			when r.status='5' then '已取消'
			else '' end) as statusStr
    </sql>

	<!-- 根据‘检测院ID’获取表记录数量 Add by laifuying -->
	<select id="getSizeByInstituteId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(0) from qms_inspection_order o
		LEFT JOIN qms_inspection_institute i  on i.institute_code = o.inspection_organization
		where i.id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="findAllList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT
        <include refid="base_column_list"/>
        FROM
        qms_inspection_order r,qms_inspection_institute e
        where r.inspection_organization=e.institute_code
        <if test="status != null and status != ''">
            and r.status = #{status}
        </if>
        <if test="inspectionOrderNum != null and inspectionOrderNum != ''">
            and r.inspection_order_num like concat('%',#{inspectionOrderNum},'%')
        </if>
        <if test="delegationCode != null and delegationCode != ''">
            and r.delegation_code like concat('%',#{delegationCode},'%')
        </if>
        <if test="isLed != 1">
            and (r.inspection_organization = #{instituteCode} or r.create_user=#{createUser})
        </if>
        <if test="inspectionOrganizationName != null and inspectionOrganizationName != ''">
            and e.institute_name like concat('%',#{inspectionOrganizationName},'%')
        </if>
        <if test="inspectionSendStartTime != null">
            <![CDATA[
				   and r.inspection_send_time >= #{inspectionSendStartTime}
				 ]]>
        </if>
        <if test="inspectionSendEndTime != null">
            <![CDATA[
					and r.inspection_send_time <= #{inspectionSendEndTime}
				]]>
        </if>

        ORDER BY r.update_date desc
    </select>

    <select id="exportInspectionOrder" resultType="java.util.HashMap" parameterType="com.evergrande.qms.model.QmsInspectionOrder">
        select
        <include refid="base_column_list"/>
        FROM
        qms_inspection_order r, qms_inspection_institute e
        where r.inspection_organization=e.institute_code
		<if test="status != null and status != ''">
			and r.status = #{status}
		</if>
		<if test="inspectionOrderNum != null and inspectionOrderNum != ''">
			and r.inspection_order_num like concat('%',#{inspectionOrderNum},'%')
		</if>
		<if test="delegationCode != null and delegationCode != ''">
			and r.delegation_code like concat('%',#{delegationCode},'%')
		</if>
		<if test="isLed != 1">
			and (r.inspection_organization = #{instituteCode} or r.create_user=#{createUser})
		</if>
		<if test="inspectionOrganizationName != null and inspectionOrganizationName != ''">
			and e.institute_name like concat('%',#{inspectionOrganizationName},'%')
		</if>
		<if test="inspectionSendStartTime != null">
			<![CDATA[
				   and r.inspection_send_time >= #{inspectionSendStartTime}
				 ]]>
		</if>
		<if test="inspectionSendEndTime != null">
			<![CDATA[
					and r.inspection_send_time <= #{inspectionSendEndTime}
				]]>
		</if>
        <if test="idList != null and idList.size > 0">
            and r.id in
            <foreach collection="idList" index="index" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </select>

	<select id="countData" resultType="java.lang.Integer" parameterType="com.evergrande.qms.model.QmsInspectionOrder">
		select
			count(1)
		FROM
		qms_inspection_order r, qms_inspection_institute e
		where r.inspection_organization=e.institute_code
		<if test="status != null and status != ''">
			and r.status = #{status}
		</if>
		<if test="inspectionOrderNum != null and inspectionOrderNum != ''">
			and r.inspection_order_num like concat('%',#{inspectionOrderNum},'%')
		</if>
		<if test="delegationCode != null and delegationCode != ''">
			and r.delegation_code like concat('%',#{delegationCode},'%')
		</if>
		<if test="isLed != 1">
			and (r.inspection_organization = #{instituteCode} or r.create_user=#{createUser})
		</if>
		<if test="inspectionOrganizationName != null and inspectionOrganizationName != ''">
			and e.institute_name like concat('%',#{inspectionOrganizationName},'%')
		</if>
		<if test="inspectionSendStartTime != null">
			<![CDATA[
				   and r.inspection_send_time >= #{inspectionSendStartTime}
				 ]]>
		</if>
		<if test="inspectionSendEndTime != null">
			<![CDATA[
					and r.inspection_send_time <= #{inspectionSendEndTime}
				]]>
		</if>
		<if test="idList != null and idList.size > 0">
			and r.id in
			<foreach collection="idList" index="index" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

    <select id="getInspectionOrderById" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT
        <include refid="base_column_list"/>
        FROM
        qms_inspection_order r, qms_inspection_institute e
        where r.inspection_organization=e.institute_code and r.id=#{inspectionOrderId} and r.status=#{status}
    </select>

    <select id="findOtFileByOrderId" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT
        t.return_id as returnId,
        t.file_name as fileName,
        t.file_size as fileSize,
        d.type
        FROM
        qms_ot_attachment t,
        qms_ot_attachment_bind d
        WHERE
        t.id = d.ot_attachment_id
        <if test="inspectionOrderId != null ">
            AND d.relevance_id = #{inspectionOrderId}
            AND ( d.type = '1' OR d.type = '2' )
        </if>
        <if test="samplePlanDetailId != null ">
            AND d.relevance_id = #{samplePlanDetailId}
            AND d.type = '3'
        </if>
        AND t.STATUS = 'Y'
        AND d.STATUS = 'Y'
    </select>

    <select id="findMaterialByOrderId" resultType="java.util.HashMap" parameterType="java.lang.String">
		SELECT
			dl.id,
			dl.sample_plan_code as samplePlanCode,
			dl.row_num as rowNum,
			dl.material_code as materialCode,
			dl.material_desc as materialDesc,
			dl.status as detailStatus,
			dl.actual_sample_amount as actualSampleAmount
		FROM
			qms_sample_plan_detail dl
			WHERE EXISTS ( SELECT d.sample_plan_detail_id FROM qms_order_material_detail_bind d WHERE
			 d.sample_plan_detail_id = dl.id AND d.inspection_order_id = #{inspectionOrderId} ) AND dl.data_status = '1'
	</select>

    <select id="getSamplePlanDetailById" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT
		  	dl.id,
			dl.sample_plan_code as samplePlanCode,
			dl.row_num as rowNum,
			r.id as inspectionOrderId,
			r.delegation_code as delegationCode,
			dl.material_code as materialCode,
			dl.material_desc as materialDesc,
			dl.material_type as materialType,
			dl.inspection_report_code as inspectionReportCode,
			dl.actual_sample_amount as actualSampleAmount,
			dl.status as detailStatus,
			dl.revision_remarks as revisionRemarks
		FROM
			qms_sample_plan_detail dl,
			qms_order_material_detail_bind d,
			qms_inspection_order r
		WHERE
			dl.id = d.sample_plan_detail_id AND dl.data_status = '1'
			AND d.inspection_order_id = r.id
			AND dl.id=#{samplePlanDetailId}
			AND r.id=#{inspectionOrderId}
	</select>

    <select id="findOrderItemByDetailId" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT
		  m.id,
		  m.inspection_code as inspectionCode,
		  m.inspection_item as inspectionItem,
		  m.value_type as valueType,
		  im.unit,
		  m.result_desc as resultDesc,
		  m.inspection_standard as inspectionStandard,
		  m.inspection_fee as inspectionFee,
		  (case when m.confirm_flag is null or m.confirm_flag = '' then '1'
			else m.confirm_flag end) as confirmFlag,
		  m.no_inspection_reason as noInspectionReason,
		  m.inspection_evaluate as inspectionEvaluate,
		  m.inspection_result as inspectionResult,
		  m.inspection_value as inspectionValue
		FROM
			qms_inspection_order_item m left join qms_sample_plan_detail dl on m.sample_plan_detail_id=dl.id
			left join qms_inspection_item im on im.material_code=dl.material_code
			and im.inspection_code=m.inspection_code and im.standard_num=m.standard_num
			where m.sample_plan_detail_id=#{samplePlanDetailId}
			and m.inspection_order_id=#{inspectionOrderId}
	</select>

	<select id="getInspectionOrderCountByDelegationCode" resultType="java.lang.Integer"  parameterType="com.evergrande.qms.model.QmsInspectionOrder">
		SELECT
			count( 1 )
		FROM
			qms_inspection_order
		WHERE
			delegation_code = #{delegationCode} and id != #{id}
	</select>

    <update id="saveInspectionOrderItem" parameterType="com.evergrande.qms.model.QmsInspectionOrderItem">
		update qms_inspection_order_item set
		confirm_flag = #{confirmFlag ,jdbcType=VARCHAR},
		no_inspection_reason = #{noInspectionReason ,jdbcType=VARCHAR},
		inspection_result = #{inspectionResult ,jdbcType=VARCHAR},
		inspection_value = #{inspectionValue ,jdbcType=VARCHAR},
		result_desc = #{resultDesc ,jdbcType=VARCHAR},
		inspection_fee = #{inspectionFee ,jdbcType=DECIMAL},
		update_user = #{updateUser},
		update_date = now()
		where id=#{id}
	</update>

    <update id="updateInspectionOrder" parameterType="com.evergrande.qms.model.QmsInspectionOrder">
        update qms_inspection_order set
        <if test="delegationCode != null and delegationCode != ''">delegation_code = #{delegationCode},</if>
        <if test="cancelReason != null and cancelReason != ''">cancel_reason = #{cancelReason},</if>
        <if test="sampleArriveTime != null">sample_arrive_time = #{sampleArriveTime ,jdbcType=TIMESTAMP},</if>
        status = #{status},
        update_user = #{updateUser},
        update_date = now()
        where id=#{id}
		and status= #{currentStatus}
    </update>

    <update id="updatePlanDetailStatus" parameterType="java.util.HashMap">
		update qms_sample_plan_detail dl set
		dl.status = #{status},
		dl.update_user = #{updateUser},
		<if test="status == '8'.toString()">
			dl.send_off_time = IFNULL(dl.send_off_time ,now()),
		</if>
		dl.update_date = now()
		where EXISTS ( SELECT d.sample_plan_detail_id FROM qms_order_material_detail_bind d WHERE
			 d.sample_plan_detail_id = dl.id AND d.inspection_order_id = #{inspectionOrderId} ) AND dl.data_status = '1'
	</update>


    <update id="updateSamplePlanStatusByOrderId" parameterType="java.util.HashMap">
		UPDATE qms_sample_plan n,
		(
		SELECT
			dl.sample_plan_code,
			min(CONVERT(dl.status,SIGNED)) AS status
		FROM
			qms_sample_plan_detail dl
		WHERE
			EXISTS (
		SELECT
			l.sample_plan_code
		FROM
			qms_sample_plan_detail l
		WHERE EXISTS
			( SELECT d.sample_plan_detail_id FROM qms_order_material_detail_bind d WHERE
			 d.sample_plan_detail_id = l.id AND d.inspection_order_id = #{inspectionOrderId} )
			AND l.sample_plan_code = dl.sample_plan_code AND l.data_status = '1'
		GROUP BY
			l.sample_plan_code
			) AND dl.data_status = '1'
		GROUP BY
			dl.sample_plan_code
			) a
			SET n.status = a.status,
			    n.update_user = #{updateUser},
			    n.update_date = now()
		WHERE
			n.sample_plan_code = a.sample_plan_code AND n.data_status = '1'
	</update>

    <update id="updatePlanDetail" parameterType="com.evergrande.qms.model.QmsSamplePlanDetail">
        update qms_sample_plan_detail set
        <if test="status != null and status != ''">status = #{status},</if>
        <if test="inspectionReportCode != null and inspectionReportCode != ''">inspection_report_code =
            #{inspectionReportCode},
        </if>
        update_user = #{updateUser},
        update_date = now()
        where id= #{id}
		and status= #{currentStatus}
    </update>

    <update id="updateSamplePlanStatusByDetailId" parameterType="com.evergrande.qms.model.QmsSamplePlanDetail">
		UPDATE qms_sample_plan p,
		(
		SELECT
			n.sample_plan_code,
			min(CONVERT(n.status,SIGNED)) as status
		FROM
			qms_sample_plan_detail n
		WHERE
			n.sample_plan_code = ( SELECT l.sample_plan_code FROM qms_sample_plan_detail l
			WHERE l.id = #{id}) AND n.data_status = '1'
		GROUP BY
			n.sample_plan_code
			) a
			SET p.status = a.status,
			p.update_user = #{updateUser},
			p.update_date = now( )
		WHERE
			p.sample_plan_code = a.sample_plan_code
			AND p.data_status = '1'
	</update>

    <select id="getOrderStatusById" resultType="java.lang.Integer"
            parameterType="com.evergrande.qms.model.QmsSamplePlanDetail">
		SELECT
			count( 1 )
		FROM
			qms_sample_plan_detail l
		WHERE
			EXISTS
			( SELECT d.sample_plan_detail_id FROM qms_order_material_detail_bind d WHERE
			 d.sample_plan_detail_id = l.id AND d.inspection_order_id = #{inspectionOrderId} ) AND l.data_status = '1'
		<![CDATA[
			AND CONVERT(l.STATUS,SIGNED) < CONVERT(#{status},SIGNED)

        ]]>
    </select>

    <select id="queryUnqualifiedItem" resultType="java.lang.String">
        SELECT
            t.inspection_item
        FROM
            qms_inspection_order_item t
        WHERE
            t.inspection_evaluate = 2
            AND t.sample_plan_code = #{samplePlanCode}
    </select>

    <update id="updateAttachmentBind" parameterType="java.util.HashMap">
		UPDATE qms_ot_attachment_bind d
		SET d.STATUS = 'N'
		WHERE
			d.relevance_id = #{relevanceId}
			AND d.type = #{type}
	</update>

    <update id="updateAttachment" parameterType="java.util.HashMap">
		UPDATE qms_ot_attachment t
		SET t.STATUS = 'N'
		WHERE
			EXISTS ( SELECT d.ot_attachment_id FROM qms_ot_attachment_bind d WHERE
			d.relevance_id = #{relevanceId} AND d.type = #{type} AND d.ot_attachment_id = t.id )
	</update>

    <select id="findSamplePlanDetailByOrderId" resultType="com.evergrande.qms.model.QmsSamplePlanHistoryState"
            parameterType="java.lang.String">
		SELECT
		  dl.sample_plan_code as samplePlanCode,
		  dl.row_num as rowNum,
		  dl.material_type as materialType,
		  dl.material_code as materialCode,
		  dl.material_desc as materialDesc
		FROM
			qms_sample_plan_detail dl
		WHERE
			EXISTS ( SELECT d.sample_plan_detail_id FROM qms_order_material_detail_bind d WHERE
			 d.sample_plan_detail_id = dl.id AND d.inspection_order_id = #{inspectionOrderId} ) AND dl.data_status = '1'
	</select>

</mapper>