<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.QmsMaterialMapper">

    <resultMap id="BaseResultMap" type="com.evergrande.qms.model.Material">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
        <result column="material_name" jdbcType="VARCHAR" property="materialName" />
        <result column="material_type_code" jdbcType="VARCHAR" property="materialTypeCode" />
        <result column="material_category" jdbcType="VARCHAR" property="materialCategory" />
        <result column="original_manufacturer" jdbcType="VARCHAR" property="originalManufacturer" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="crud_type" jdbcType="VARCHAR" property="crudType" />
        <result column="create_user" jdbcType="TIMESTAMP" property="createUser" />
        <result column="create_date" jdbcType="VARCHAR" property="createDate" />
        <result column="update_user" jdbcType="TIMESTAMP" property="updateUser" />
        <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    </resultMap>
    <resultMap id="ResultMap" type="com.evergrande.qms.vo.QmsMaterialDeailVO">
        <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
        <result column="material_name" jdbcType="VARCHAR" property="materialName" />
        <result column="material_type_code" jdbcType="VARCHAR" property="materialTypeCode" />
        <result column="sample_amount" jdbcType="VARCHAR" property="sampleAmount" />
        <!--<result column="standard_num" jdbcType="VARCHAR" property="standardNum" />-->
        <result column="material_type_name" jdbcType="VARCHAR" property="materialTypeName" />
        <result column="material_manager" jdbcType="VARCHAR" property="materialManager" />


        <collection property="qmsMaterialItemVOList" javaType="java.util.List" ofType="com.evergrande.qms.vo.QmsMaterialItemVO" column="standardNum">
            <result column="inspection_code" jdbcType="VARCHAR" property="inspectionCode" />
            <result column="inspection_item" jdbcType="VARCHAR" property="inspectionItem" />
            <result column="value_type" jdbcType="VARCHAR" property="valueType" />
            <result column="standard_name" jdbcType="VARCHAR" property="standardName" />
            <result column="standard_num" jdbcType="VARCHAR" property="standardNum" />
            <result column="monitor_indicator_type" jdbcType="VARCHAR" property="monitorIndicatorType" />
        </collection>
        <!--<collection property="inspectionItemVOList" javaType="java.util.List" ofType="com.evergrande.qms.vo.InspectionItemVO" column="materialCode">-->
            <!--<result column="standard_num" jdbcType="VARCHAR" property="standardNum" />-->
            <!--<result column="inspection_code" jdbcType="VARCHAR" property="inspectionCode" />-->
        <!--</collection>-->
        <!--<collection property="inspectionItemInfoVOList" javaType="java.util.List" ofType="com.evergrande.qms.vo.InspectionItemInfoVO" column="inspectionCode">-->
            <!--<result column="inspection_item" jdbcType="VARCHAR" property="inspectionItem" />-->
            <!--<result column="inspection_code" jdbcType="VARCHAR" property="inspectionCode" />-->
            <!--<result column="monitor_indicator_type" jdbcType="VARCHAR" property="monitorIndicatorType" />-->
            <!--<result column="value_type" jdbcType="VARCHAR" property="valueType" />-->
        <!--</collection>-->
        <!--<collection property="materialTypeVOList" javaType="java.util.List" ofType="com.evergrande.qms.vo.MaterialTypeVO" column="materialTypeCode">-->
            <!--<result column="material_manager" jdbcType="VARCHAR" property="materialManager" />-->
            <!--<result column="material_type_name" jdbcType="VARCHAR" property="materialTypeName" />-->
        <!--</collection>-->
        <!--<collection property="nationalStandardVOList" javaType="java.util.List" ofType="com.evergrande.qms.vo.NationalStandardVO" column="standardNum">-->
            <!--<result column="standard_num" jdbcType="VARCHAR" property="standardNum" />-->
            <!--<result column="standard_name" jdbcType="VARCHAR" property="standardName" />-->
        <!--</collection>-->

    </resultMap>
    <sql id="Base_Column_List">
        id, material_code, material_name, material_type_code,material_category, original_manufacturer,unit, crud_type, create_user,create_date,update_user,update_date
    </sql>
    <select id="selectMaterialCode" resultMap="ResultMap" parameterType="java.lang.String">
        SELECT
        t.material_code,
        t.material_name,
        t.material_type_code,
        t2.sample_amount,
        t5.material_type_name,
        t5.material_manager,

        t4.inspection_code,
        t4.inspection_item,
        t4.value_type,
        t4.monitor_indicator_type,
        t6.standard_num,
        t6.standard_name
        FROM
         qms_material_manage AS t1
        LEFT JOIN qms_material AS t ON t.material_code = t1.material_code
        LEFT JOIN qms_sample_require AS t2 ON t.material_code = t2.material_code
        LEFT JOIN qms_inspection_item AS t3 ON t.material_code = t3.material_code
        LEFT JOIN qms_inspection_item_info AS t4 ON t3.inspection_code = t4.inspection_code
        LEFT JOIN qms_material_type AS t5 ON t.material_type_code = t5.material_type_code
        LEFT JOIN qms_national_standard t6 ON t6.standard_num=t3.standard_num
            WHERE t.material_code=#{materialCode,jdbcType=VARCHAR}

    </select>
    <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from qms_material
        <where>
            <if test="materialCode!=null and materialCode!=''">
                and material_code like concat('%', #{materialCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="materialCategory!=null and materialCategory!=''">
                and material_category like concat('%', #{materialCategory,jdbcType=VARCHAR},'%')
            </if>
        </where>
        limit 200
    </select>
</mapper>