<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evergrande.qms.mapper.QmsMenuFuncMapper" >
  <resultMap id="BaseResultMap" type="com.evergrande.qms.model.QmsMenuFunc" >
  <constructor >
    <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="menu_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="func_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    <arg column="update_user" jdbcType="VARCHAR" javaType="java.lang.String" />
    <arg column="update_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  </constructor>
  </resultMap>

  <resultMap id="MenuFuncResultMap" type="com.evergrande.qms.vo.QmsMenuVo" >
      <id column="id" property="id"/>
      <result column="menu_name" property="menuName"/>
      <result column="menu_url" property="menuUrl"/>
      <result column="parent_id" property="parentId"/>
      <result column="type" property="type"/>
      <result column="menu_order" property="menuOrder"/>
      <collection property="funcVoList" ofType="com.evergrande.qms.vo.QmsFuncVo" column="id">
        <id column="func_id" property="id"/>
        <result column="func_name" property="funcName"/>
        <result column="func_order" property="funcOrder"/>
        <result column="func_url" property="funcUrl"/>
      </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, menu_id, func_id, create_user, create_date, update_user, update_date
  </sql>
  <select id="findAllList" resultMap="MenuFuncResultMap" parameterType="java.lang.Integer">
    select
        t.id, t.menu_name, t.menu_url, t.parent_id, t.type, t.menu_order,
        t2.id as func_id, t2.func_name, t2.func_order, t2.status, t2.func_url
    from qms_menu t
    LEFT JOIN qms_menu_func t1  ON t.id = t1.menu_id
    LEFT JOIN qms_func t2 ON t2.id = t1.func_id AND t2.status!=1
    WHERE t.status != 1
    <if test="type == null" >
      and t.type != 2
    </if>
    <if test="type != null" >
      and t.type = #{type,jdbcType=INTEGER}
    </if>
    ORDER BY  t.menu_order , t2.func_order
  </select>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from qms_menu_func
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from qms_menu_func
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.evergrande.qms.model.QmsMenuFunc" >
    insert into qms_menu_func (id, menu_id, func_id,
      create_user, create_date, update_user,
      update_date)
    values (#{id,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{funcId,jdbcType=VARCHAR},
      #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="add" parameterType="com.evergrande.qms.model.QmsMenuFunc" >
    insert into qms_menu_func
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="funcId != null" >
        func_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null" >
        #{funcId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.evergrande.qms.model.QmsMenuFunc" >
    update qms_menu_func
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null" >
        func_id = #{funcId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evergrande.qms.model.QmsMenuFunc" >
    update qms_menu_func
    set menu_id = #{menuId,jdbcType=VARCHAR},
      func_id = #{funcId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>