<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evergrande.qms.mapper.QmsSamplePlanItemMapper" >
  <resultMap id="BaseResultMap" type="com.evergrande.qms.model.QmsSamplePlanItem" >
      <id column="id" jdbcType="VARCHAR" property="id" javaType="java.lang.String" />
      <result column="sample_plan_code" property="samplePlanCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="sample_plan_detail_id" property="samplePlanDetailId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="inspection_code" property="inspectionCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="inspection_item" property="inspectionItem" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="standard_name" property="standardName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="standard_num" property="standardNum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="monitor_indicator_type" property="monitorIndicatorType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="create_date" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <result column="update_user" property="updateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <result column="value_type" property="valueType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="row_num" property="rowNum" jdbcType="VARCHAR" javaType="java.lang.Integer" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sample_plan_code, sample_plan_detail_id, inspection_code,standard_name,standard_num, inspection_item,monitor_indicator_type,
    create_user, create_date, update_user, update_date,value_type
  </sql>

  <!-- 根据检测项目编码，查询记录。主要用于验证检测项目是否可修改 Add by laifuying -->
  <select id="findByInspectionCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from qms_sample_plan_item
    where inspection_code = #{inspectionCode,jdbcType=VARCHAR}
  </select>

  <!-- 查询导出的数据 -->
  <select id="findExportData" resultMap="BaseResultMap" parameterType="java.util.List">
    SELECT
    t.id,
    t.sample_plan_code,
    t.sample_plan_detail_id,
    t.inspection_code,
    t.standard_name,
    t.standard_num,
    t.inspection_item,
    t.monitor_indicator_type,
    t.create_user,
    t.create_date,
    t.update_user,
    t.update_date,
    t.value_type,
    p.row_num
    FROM
    qms_sample_plan_item AS t,
    qms_sample_plan_detail AS p
    where t.sample_plan_detail_id=p.id AND t.sample_plan_code in
    <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
      #{id,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qms_sample_plan_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <!--根据计划编号查询计划明细id-->
  <select id="selectSamplePlanCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from qms_sample_plan_item
    where sample_plan_code = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    <foreach  collection="list"  item="item" open="" close="" separator=";">
    delete from qms_sample_plan_item
    where id = #{item.id,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <insert id="addList" parameterType="java.util.List" >
    insert into qms_sample_plan_item (id, sample_plan_code, sample_plan_detail_id, 
      inspection_code, inspection_item, standard_name, standard_num,monitor_indicator_type,
      create_user, create_date, update_user,
      update_date,value_type) values
    <foreach  collection="list"  item="item" open="" close="" separator=",">
    (#{item.id,jdbcType=VARCHAR}, #{item.samplePlanCode,jdbcType=VARCHAR}, #{item.samplePlanDetailId,jdbcType=VARCHAR},
      #{item.inspectionCode,jdbcType=VARCHAR}, #{item.inspectionItem,jdbcType=VARCHAR}, #{item.standardName,jdbcType=VARCHAR}, #{item.standardNum,jdbcType=VARCHAR},#{item.monitorIndicatorType,jdbcType=VARCHAR},
      #{item.createUser,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateUser,jdbcType=VARCHAR},
      #{item.updateDate,jdbcType=TIMESTAMP},#{item.valueType,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.evergrande.qms.model.QmsSamplePlanItem" >
    insert into qms_sample_plan_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="samplePlanCode != null" >
        sample_plan_code,
      </if>
      <if test="samplePlanDetailId != null" >
        sample_plan_detail_id,
      </if>
      <if test="inspectionCode != null" >
        inspection_code,
      </if>
      <if test="inspectionItem != null" >
        inspection_item,
      </if>
      <if test="standardName != null" >
        standard_name,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="samplePlanCode != null" >
        #{samplePlanCode,jdbcType=VARCHAR},
      </if>
      <if test="samplePlanDetailId != null" >
        #{samplePlanDetailId,jdbcType=VARCHAR},
      </if>
      <if test="inspectionCode != null" >
        #{inspectionCode,jdbcType=VARCHAR},
      </if>
      <if test="inspectionItem != null" >
        #{inspectionItem,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null" >
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.evergrande.qms.model.QmsSamplePlanItem" >
    update qms_sample_plan_item
    <set >
      <if test="samplePlanCode != null" >
        sample_plan_code = #{samplePlanCode,jdbcType=VARCHAR},
      </if>
      <if test="samplePlanDetailId != null" >
        sample_plan_detail_id = #{samplePlanDetailId,jdbcType=VARCHAR},
      </if>
      <if test="inspectionCode != null" >
        inspection_code = #{inspectionCode,jdbcType=VARCHAR},
      </if>
      <if test="inspectionItem != null" >
        inspection_item = #{inspectionItem,jdbcType=VARCHAR},
      </if>
      <if test="inspectionStandard != null" >
        standard_name = #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.evergrande.qms.model.QmsSamplePlanItem" >
    <foreach  collection="list"  item="item" open="" close="" separator=";">
    update qms_sample_plan_item
    set

      sample_plan_detail_id = #{item.samplePlanDetailId,jdbcType=VARCHAR},
      inspection_code = #{item.inspectionCode,jdbcType=VARCHAR},
      inspection_item = #{item.inspectionItem,jdbcType=VARCHAR},
      standard_name = #{item.standardName,jdbcType=VARCHAR},
      standard_num = #{item.standardNum,jdbcType=VARCHAR},
      monitor_indicator_type = #{item.monitorIndicatorType,jdbcType=VARCHAR}
    where sample_plan_detail_id = #{samplePlanDetailId,jdbcType=VARCHAR}
    </foreach>
  </update>
</mapper>