<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.SampleRequireMapper">

    <resultMap id="findSampleRequireResultMap" type="com.evergrande.qms.vo.SampleRequireVO" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_code" property="materialCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_name" property="materialName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_type_code" property="materialTypeCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_type_name" property="materialTypeName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_category" property="materialCategory" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="sample_size" property="sampleSize" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="sample_amount" property="sampleAmount" jdbcType="DOUBLE" javaType="java.lang.Double" />
        <result column="sample_notes" property="sampleNotes" jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <resultMap id="baseResultMap" type="com.evergrande.qms.model.SampleRequire" >
        <id column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="material_code" property="materialCode" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="sample_size" property="sampleSize" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="sample_amount" property="sampleAmount" jdbcType="DOUBLE" javaType="java.lang.Double" />
        <result column="sample_notes" property="sampleNotes" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </resultMap>

    <sql id="base_column_list">
        id,material_code,sample_size,sample_amount,sample_notes,create_user,create_date,update_user,update_date
    </sql>

    <sql id="base_sql">
        SELECT
            r.id, m.material_code, m.material_name, mt.material_type_code, mt.material_type_name, m.material_category,
            r.sample_amount, r.sample_notes, r.sample_size
        FROM qms_sample_require r
        LEFT JOIN qms_material m on r.material_code = m.material_code
        LEFT JOIN qms_material_manage mm on m.material_code = mm.material_code
        LEFT JOIN qms_material_type mt on m.material_type_code = mt.material_type_code
    </sql>

    <!-- 根据物料编码查询记录 -->
    <select id="findBaseList" parameterType="com.evergrande.qms.vo.SampleRequireVO" resultMap="baseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_sample_require
        <where>
            <if test="materialCode != null and materialCode != ''">
                and material_code = #{materialCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 根据条件查询物料取样要求管理记录 -->
    <select id="findAllList" resultMap="findSampleRequireResultMap"
            parameterType="com.evergrande.qms.vo.SampleRequireVO" >
        <include refid="base_sql"/>
        ORDER BY r.create_date DESC
    </select>

    <!-- 根据物料编码查询物料取样要求管理记录 -->
    <select id="findByMaterialCode" resultMap="findSampleRequireResultMap"
            parameterType="java.lang.String" >
        <include refid="base_sql"/>
        where r.material_code = #{materialCode,jdbcType=VARCHAR}
    </select>

    <!-- 新增物料取样要求管理数据 -->
    <insert id="batchAdd" parameterType="java.util.List">
        insert into qms_sample_require(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.materialCode,jdbcType=VARCHAR},
            #{item.sampleSize,jdbcType=VARCHAR},
            #{item.sampleAmount,jdbcType=VARCHAR},
            #{item.sampleNotes,jdbcType=VARCHAR},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 修改物料取样要求管理数据 -->
    <update id="batchUpdate" parameterType="java.util.List">
        update qms_sample_require
        <trim prefix="set" suffixOverrides=",">
            <!-- 物料编码 -->
            <trim prefix="material_code=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.materialCode !=null and item.materialCode != ''">
                        when id=#{item.id} then #{item.materialCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 取样规格 -->
            <trim prefix="sample_size=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.sampleSize !=null and item.sampleSize != ''">
                        when id=#{item.id} then #{item.sampleSize,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 取样数量（份） -->
            <trim prefix="sample_amount=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.sampleAmount !=null and item.sampleAmount != ''">
                        when id=#{item.id} then #{item.sampleAmount,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <!-- 取样注意事项 -->
            <trim prefix="sample_notes=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.sampleNotes !=null and item.sampleNotes != ''">
                        when id=#{item.id} then #{item.sampleNotes,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_user=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateUser !=null">
                        when id=#{item.id} then #{item.updateUser,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_date=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateDate !=null">
                        when id=#{item.id} then #{item.updateDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from qms_sample_require
        where id = #{id, jdbcType=VARCHAR}
    </delete>

    <!-- 批量删除记录 -->
    <delete id="batchDelete" parameterType="java.util.List">
        delete from qms_sample_require
        where id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!-- 根据物料编码删除记录 -->
    <delete id="deleteByMaterialId" parameterType="java.util.List">
        delete from qms_sample_require
        where material_code in (
            select material_code from qms_material_manage
            where id in
            <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
                #{id,jdbcType=VARCHAR}
            </foreach>
        )
    </delete>

    <!-- 查询导出的数据 -->
    <select id="findExportData" resultMap="findSampleRequireResultMap" parameterType="java.util.List">
        <include refid="base_sql"/>
        where r.id in
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>

    <!-- 查询导出的数据 -->
    <select id="findExportDataByMaterialCodes" resultMap="findSampleRequireResultMap" parameterType="java.util.List">
        <include refid="base_sql"/>
        where r.material_code in
        <foreach collection="list" index="index" item="materialCode" separator="," open="(" close=")">
            #{materialCode, jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>


