<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.SampleInspectPlanMapper">

    <resultMap id="MyMap" type="com.evergrande.qms.vo.SampleInspectplanVO">
        <id column="id" jdbcType="VARCHAR" property="id" javaType="java.lang.String"/>
        <result column="sample_plan_code" jdbcType="VARCHAR" property="samplePlanCode" javaType="java.lang.String"/>
        <result column="plan_type" jdbcType="VARCHAR" property="planType" javaType="java.lang.String"/>
        <result column="sample_type" jdbcType="VARCHAR" property="sampleType" javaType="java.lang.String"/>
        <result column="recheck_flag" jdbcType="VARCHAR" property="recheckFlag" javaType="java.lang.String"/>
        <result column="before_plan_id" jdbcType="VARCHAR" property="beforePlanId" javaType="java.lang.String"/>
        <result column="sample_address_id" jdbcType="VARCHAR" property="sampleAddressId" javaType="java.lang.String"/>
        <result column="sample_address" jdbcType="VARCHAR" property="sampleAddress" javaType="java.lang.String"/>
        <result column="sample_user_name" jdbcType="VARCHAR" property="sampleUserName" javaType="java.lang.String"/>
        <result column="sample_user_id" jdbcType="VARCHAR" property="sampleUserId" javaType="java.lang.String"/>
        <result column="sample_date" jdbcType="VARCHAR" property="sampleDate" javaType="java.lang.String"/>
        <result column="inspect_department" jdbcType="VARCHAR" property="inspectDepartment"
                javaType="java.lang.String"/>
        <result column="receive_sample_user_name" jdbcType="VARCHAR" property="receiveSampleUserName"
                javaType="java.lang.String"/>
        <result column="receive_sample_user_id" jdbcType="VARCHAR" property="receiveSampleUserId"
                javaType="java.lang.String"/>
        <result column="status" jdbcType="VARCHAR" property="status" javaType="java.lang.String"/>
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" javaType="java.lang.String"/>
        <result column="sample_factory" jdbcType="VARCHAR" property="sampleFactory" javaType="java.lang.String"/>
        <result column="sample_department" jdbcType="VARCHAR" property="sampleDepartment" javaType="java.lang.String"/>
        <result column="sample_department_id" jdbcType="VARCHAR" property="sampleDepartmentId"
                javaType="java.lang.String"/>
        <result column="receive_sample_user_phone" jdbcType="VARCHAR" property="receiveSampleUserPhone"
                javaType="java.lang.String"/>
        <result column="create_user_one" jdbcType="VARCHAR" property="createUser"  javaType="java.lang.String" />
        <result column="create_date_one" jdbcType="TIMESTAMP" property="createDate"  javaType="java.util.Date" />
        <result column="update_user_one" jdbcType="VARCHAR" property="updateUser"  javaType="java.lang.String" />
        <result column="update_date_one" jdbcType="TIMESTAMP" property="updateDate"  javaType="java.util.Date" />
        <result column="is_delete" jdbcType="VARCHAR" property="isDelete" javaType="java.lang.String"/>

        <result column="project_name" jdbcType="VARCHAR" property="projectName" javaType="java.lang.String"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" javaType="java.lang.String"/>
        <result column="actual_sample_user_name" jdbcType="VARCHAR" property="actualSampleUserName"
                javaType="java.lang.String"/>
        <result column="actual_sample_user_id" jdbcType="VARCHAR" property="actualSampleUserId"
                javaType="java.lang.String"/>

        <collection property="sampleInspectPlanDetailVOList" javaType="java.util.List"
                    ofType="com.evergrande.qms.vo.SampleInspectPlanDetailVO" column="samplePlanCode">
            <id column="detailId" property="id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="sample_plan_code" property="samplePlanCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="row_num" property="rowNum" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <result column="material_type_code" property="materialTypeCode" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="material_type" property="materialType" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="material_code" property="materialCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="material_desc" property="materialDesc" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="brand" property="brand" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="duty_user_id" property="dutyUserId" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="material_standard" property="materialStandard" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="monitor_indicator_type" property="monitorIndicatorType" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="type" property="type" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="sample_order_number" property="sampleOrderNumber" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="plan_sample_amount" property="planSampleAmount" jdbcType="DOUBLE"
                    javaType="java.lang.Double"/>
            <result column="plan_sample_amount_reserve" property="planSampleAmountReserve" jdbcType="DOUBLE"
                    javaType="java.lang.Double"/>
            <result column="actual_sample_amount" property="actualSampleAmount" jdbcType="DOUBLE"
                    javaType="java.lang.Double"/>
            <result column="actual_sample_amount_reserve" property="actualSampleAmountReserve" jdbcType="DOUBLE"
                    javaType="java.lang.Double"/>
            <result column="recheck_flag" property="recheckFlag" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="confirm_sample_flag" property="confirmSampleFlag" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="detailStatus" property="status" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="sign_attachment_id" property="signAttachmentId" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="batch_number" property="batchNumber" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="arrival_time" property="arrivalTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <result column="other_reasons" property="otherReasons" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="create_date" property="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <result column="update_user" property="updateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
            <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <result column="inspection_report_code" property="inspectionReportCode" jdbcType="VARCHAR"
                    javaType="java.lang.String"/>
            <result column="sample_code" property="sampleCode" jdbcType="VARCHAR" javaType="java.lang.String"/>

            <result column="sample_size" property="sampleSize" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </collection>
    </resultMap>

    <sql id="base_column_list">
        id,sample_plan_code, plan_type,sample_type,recheck_flag,before_plan_id,sample_address,sample_user_name,
        sample_date,inspect_department,receive_sample_user_name,receive_sample_user_id,status,supplier_code,sample_factory,sample_user_id,sample_department_id,
        sample_department,receive_sample_user_phone,create_user,create_date,update_user,update_date,is_delete
    </sql>

    <!--chensheng-->
    <select id="findSampleInspectPlan" resultMap="MyMap" parameterType="com.evergrande.qms.vo.SampleInspectplanVO">
        select
        t.id,
        t.sample_plan_code,
        t.plan_type,
        t.sample_type,
        t.recheck_flag,
        t.before_plan_id,
        t.sample_address_id,
        t.sample_address,
        t.sample_user_id,
        t.sample_user_name,
        t.sample_date,
        t.inspect_department,
        t.receive_sample_user_name,
        t.status,
        t.supplier_code,
        t.sample_factory,
        t.sample_department_id,
        t.sample_department,
        t.receive_sample_user_phone,
        t.create_user AS create_user_one,
        t.create_date AS create_date_one,
        t.update_user AS update_user_one,
        t.update_date AS update_date_one,
        t.is_delete,
        t.actual_sample_user_id,
        t.actual_sample_user_name,
        t2.id AS detailId,
        t2.sample_plan_code,
        t2.row_num,
        t2.material_type_code,
        t2.material_type,
        t2.material_code,
        t2.material_desc,
        t2.brand,
        t2.duty_user_id,
        t2.material_standard,
        t2.monitor_indicator_type,
        t2.type,
        t2.sample_order_number,
        t2.plan_sample_amount,
        t2.plan_sample_amount_reserve,
        t2.actual_sample_amount,
        t2.actual_sample_amount_reserve,
        t2.recheck_flag,
        t2.confirm_sample_flag,
        t2.status detailStatus,
        t2.sign_attachment_id,
        t2.batch_number,
        t2.cancel_reason,
        t2.other_reasons,
        t2.create_user,
        t2.create_date,
        t2.update_user,
        t2.update_date,
        t2.inspection_report_code,
        t2.sample_code,
        t4.supplier_name,
        t5.sample_size
        from qms_sample_plan t
        LEFT JOIN qms_sample_plan_detail t2 ON t.sample_plan_code=t2.sample_plan_code
        LEFT JOIN qms_supplier t4 ON t.supplier_code=t4.supplier_code
        LEFT JOIN qms_sample_require t5 ON t2.material_code=t5.material_code
        <where>
            AND CONVERT(t.`status`,SIGNED)>3
            AND t.data_status = '1'
            AND t2.data_status = '1'
            AND t.is_delete = '0'
            AND  t.recheck_flag != '1'
            <!-- 查询半年内的抽样计划↓ -->
            AND t.create_date>DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
            <if test="loginName != null and loginName != ''">
                and t.sample_user_id = #{loginName, jdbcType=VARCHAR}
            </if>
            <if test="sampleAddressIdList != null and sampleAddressIdList.size() > 0">
                and t.sample_address_id in
                <foreach collection="sampleAddressIdList" index="index" item="item" separator="," open="(" close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
