<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.SupplierMapper">
    <resultMap id="BaseResultMap" type="com.evergrande.qms.model.Supplier">
        <id column="id" jdbcType="VARCHAR" property="id"  javaType="java.lang.String" />
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode"  javaType="java.lang.String" />
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"  javaType="java.lang.String" />
        <result column="brand" jdbcType="VARCHAR" property="brand"  javaType="java.lang.String" />
        <result column="province" jdbcType="VARCHAR" property="province"  javaType="java.lang.String" />
        <result column="city" jdbcType="VARCHAR" property="city"  javaType="java.lang.String" />
        <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress"  javaType="java.lang.String" />
        <result column="telephone" jdbcType="VARCHAR" property="telephone"  javaType="java.lang.String" />
        <result column="crud_type" jdbcType="VARCHAR" property="crudType"  javaType="java.lang.String" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"  javaType="java.util.Date" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"  javaType="java.util.Date" />
    </resultMap>
    <sql id="base_column_list">
        id,supplier_code,supplier_name,brand,province,city,
        detailed_address,telephone,crud_type,create_date,update_date
    </sql>
    <select id="findAllList" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_supplier
        <where>
            <if test="supplierCode!=null and supplierCode!=''">
                and supplier_code like concat('%', #{supplierCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="supplierName!=null and supplierName!=''">
                and supplier_name like concat('%', #{supplierName,jdbcType=VARCHAR},'%')
            </if>
            <if test="brand!=null and brand!=''">
                and brand like concat('%', #{brand,jdbcType=VARCHAR},'%')
            </if>
            <if test="province!=null and province!=''">
                and province like concat('%', #{province,jdbcType=VARCHAR},'%')
            </if>
            <if test="city!=null and city!=''">
                and city like concat('%', #{city,jdbcType=VARCHAR},'%')
            </if>
        </where>
        limit 200
    </select>

    <!-- 获取表记录数量 -->
    <select id="getTableSize" resultType="java.lang.Integer">
        select count(0) from qms_supplier
    </select>

    <select id="searchBySupplierCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="base_column_list"/>
        from qms_supplier
        where supplier_code = #{supplierCode,jdbcType=VARCHAR}
    </select>

    <!-- 新增供应商数据 -->
    <insert id="batchAddSupplier" parameterType="java.util.List">
        insert into qms_supplier(<include refid="base_column_list"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.supplierCode,jdbcType=VARCHAR},
            #{item.supplierName,jdbcType=VARCHAR},
            #{item.brand,jdbcType=VARCHAR},
            #{item.province,jdbcType=VARCHAR},
            #{item.city,jdbcType=VARCHAR},
            #{item.detailedAddress,jdbcType=VARCHAR},
            #{item.telephone,jdbcType=VARCHAR},
            #{item.crudType,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 修改供应商数据 -->
    <update id="batchUpdateSupplier" parameterType="java.util.List">
        update qms_supplier
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="supplier_code=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.supplierCode !=null">
                        when id=#{item.id} then #{item.supplierCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="supplier_name=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.supplierName !=null">
                        when id=#{item.id} then #{item.supplierName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="brand=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.brand !=null">
                        when id=#{item.id} then #{item.brand,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="province=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.province !=null">
                        when id=#{item.id} then #{item.province,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="city=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.city !=null">
                        when id=#{item.id} then #{item.city,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="detailed_address=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.detailedAddress !=null">
                        when id=#{item.id} then #{item.detailedAddress,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="telephone=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.telephone !=null">
                        when id=#{item.id} then #{item.telephone,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="crud_type=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.crudType !=null">
                        when id=#{item.id} then #{item.crudType,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_date=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateDate !=null">
                        when id=#{item.id} then #{item.updateDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <!-- 逻辑删除供应商数据 -->
    <update id="batchDeleteSupplier" parameterType="java.util.List">
        update qms_supplier
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="crud_type=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.crudType !=null">
                        when supplier_code=#{item.supplierCode} then #{item.crudType,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_date=case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.updateDate !=null">
                        when supplier_code=#{item.supplierCode} then #{item.updateDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where supplier_code in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.supplierCode,jdbcType=VARCHAR}
        </foreach>
    </update>
</mapper>


