<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.evergrande.qms.mapper.SyncUserMapper">
    <resultMap id="syncUserMapper" type="com.evergrande.qms.model.SyncUser">
        <id property="id" column="id"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="loginName" column="login_name"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="password" column="password"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="realName" column="real_name"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="deptId" column="dept_id"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="mobile" column="mobile"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="telephone" column="telephone"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="email" column="email"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <id property="status" column="status"  jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result property="updateUser" column="update_user" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </resultMap>

    <sql id="Base_Column_List">
        id,login_name,password,real_name,dept_id,mobile,telephone,email,status,
        create_user,
        create_date,
        update_user,
        update_date
    </sql>

    <select id="findByLoginName" resultMap="syncUserMapper">
        select
        <include refid="Base_Column_List"/>
        from `idm_sync_user`
        where login_name= #{loginName,jdbcType=VARCHAR}
    </select>

</mapper>


