<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evergrande.qms.mapper.TestMapper">
    <resultMap id="testResultMap" type="com.evergrande.qms.model.Test">
        <id column="id" jdbcType="VARCHAR" property="id"  javaType="java.lang.String" />
        <result column="name" jdbcType="VARCHAR" property="name"  javaType="java.lang.String" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile"  javaType="java.lang.String" />
    </resultMap>

    <sql id="base_column_list">
        id, name, mobile
    </sql>

    <select id="findAllList" resultMap="testResultMap">
        select
        <include refid="base_column_list"/>
        from test
        order by update_time DESC
    </select>

</mapper>


